@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link href="~/happys/css/banner/banner.css" rel="stylesheet" asp-append-version="true" />
<section class="slider">
    <section class="doc_banner_area banner_creative1 text-banner">
        <div class="container">
            <div class="doc_banner_content d-flex flex-row flex-xs-column flex-md-column align-items-start">
                <div class="doc_banner_content_left d-flex flex-column align-items-start w-50 w-xs-100 w-md-100">
                    <h2 class="wow fadeInUp">Giới thiệu sàng lọc</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.2s">Hiện nay vấn đề sức khỏe tinh thần không còn là vấn đề xa lạ nữa mà nó đang trả thành vấn đề phổ biến và quan trọng đối với chúng ta nói chung và độ tuổi của các bạn thanh thiếu niên nói riêng. Với áp lực từ gia đình, học đường ... hiện nay tình trạng các bạn thanh thiếu niên mắc phải những dấu hiệu của các bệnh về sức khỏe tinh thần đang có dấu hiệu tăng. Bản thân các bạn cũng tự ti và không biết phải chia sẻ với ai và cũng không chắc liệu bản thân có mắc phải những bệnh đó hay không. Vì vậy việc thực hiện sàng lọc sức khỏe tinh thần là việc rất cần thiết</p>
                </div>
                <div class="doc_banner_content_right w-50">
                </div>
            </div>
        </div>
    </section>

    <section class="doc_banner_area banner_creative1 slide">
    </section>
    <section class="doc_banner_area banner_creative1 slide">
    </section>
    <section class="doc_banner_area banner_creative1 slide">
    </section>
    <section class="doc_banner_area banner_creative1 slide">
    </section>
    <section class="doc_banner_area banner_creative1 slide">
    </section>
</section>