@{
    Layout = null;
}
<style>
    .b-grey {
        border-bottom: 1px solid var(--black_400);
    }

    .border-style-grey-r {
        border: 1px solid grey;
        border-right: unset;
    }

    .border-style-grey {
        border: 1px solid grey;
    }

    .l_photo img {
        width: 100%;
    }
    .title_text {
        font-size: 14px;
        color: var(--black_400);
        line-height: 14px;
    }
    #photo_library img {
        width:100%;
        height:auto;
        border-radius: 15px;
    }

    .title_category {
        font-weight:600;
    }
</style>
<section class="sec_pad_happys">
    <div class="container">
        <div class="row library_content">
            <div class="col-lg-8">
                <div id="postDetail">
                    
                </div>
            </div>
            <div class="col-lg-4 library-right">
                <div class="post-sidebar">
                    <div class="l_photo mb-3" id="photo_library">
                        
                    </div>
                    <div class="link_library mb-3" id="downloadLink">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
