@{
    Layout = null;
}
<style>
    @@media all and (max-width: 600px) {
        .fadeInUp{
            margin-bottom:32px !important;
            border-radius:15px !important;
        }

        .post-option {
            margin-bottom: 32px !important;
        }

        .sec_pad {
            padding: 24px 0px !important;
        }
    }
</style>
<section class="doc_blog_grid_area sec_pad layout-list">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-9 col-12 p-0">
                <div class="col-12 mb-5 p-0 shadow-sm wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="post-latest" id="post-latest_top1">
                    </div>
                </div>

                <div class="post-option border d-flex justify-content-between mb-5">
                    <span class="p-3 all-post">
                        Tất cả thư viện
                    </span>
                    <div class="post-option-detail d-flex p-3">
                        <div class="layout d-flex ">
                            <button type="button" class="btn btn-outline-light viewstyle-active  d-none" id="layout-grid-post">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                                    <g clip-path="url(#clip0_433_17512)">
                                        <path d="M12.0949 13.6221H9.11992C8.31055 13.6221 7.6543 12.9658 7.6543 12.1564V8.15332C7.6543 7.9127 7.85117 7.71582 8.0918 7.71582H12.0949C12.9043 7.71582 13.5605 8.37207 13.5605 9.18145V12.1564C13.5605 12.9658 12.9043 13.6221 12.0949 13.6221ZM8.5293 8.59082V12.1564C8.5293 12.4846 8.7918 12.7471 9.11992 12.7471H12.0949C12.423 12.7471 12.6855 12.4846 12.6855 12.1564V9.18145C12.6855 8.85332 12.423 8.59082 12.0949 8.59082H8.5293Z" fill="#1B1E28" />
                                        <path d="M4.87812 13.6221H1.90312C1.09375 13.6221 0.4375 12.9658 0.4375 12.1564V9.18145C0.4375 8.37207 1.09375 7.71582 1.90312 7.71582H5.90625C6.14687 7.71582 6.34375 7.9127 6.34375 8.15332V12.1564C6.34375 12.9658 5.6875 13.6221 4.87812 13.6221ZM1.90312 8.59082C1.575 8.59082 1.3125 8.85332 1.3125 9.18145V12.1564C1.3125 12.4846 1.575 12.7471 1.90312 12.7471H4.87812C5.20625 12.7471 5.46875 12.4846 5.46875 12.1564V8.59082H1.90312Z" fill="#1B1E28" />
                                        <path d="M12.0949 6.40332H8.0918C7.85117 6.40332 7.6543 6.20645 7.6543 5.96582V1.9627C7.6543 1.15332 8.31055 0.49707 9.11992 0.49707H12.0949C12.9043 0.49707 13.5605 1.15332 13.5605 1.9627V4.9377C13.5605 5.74707 12.9043 6.40332 12.0949 6.40332ZM8.5293 5.52832H12.0949C12.423 5.52832 12.6855 5.26582 12.6855 4.9377V1.9627C12.6855 1.63457 12.423 1.37207 12.0949 1.37207H9.11992C8.7918 1.37207 8.5293 1.63457 8.5293 1.9627V5.52832Z" fill="#1B1E28" />
                                        <path d="M5.90625 6.40332H1.90312C1.09375 6.40332 0.4375 5.74707 0.4375 4.9377V1.9627C0.4375 1.15332 1.09375 0.49707 1.90312 0.49707H4.87812C5.6875 0.49707 6.34375 1.15332 6.34375 1.9627V5.96582C6.34375 6.20645 6.14687 6.40332 5.90625 6.40332ZM1.90312 1.37207C1.575 1.37207 1.3125 1.63457 1.3125 1.9627V4.9377C1.3125 5.26582 1.575 5.52832 1.90312 5.52832H5.46875V1.9627C5.46875 1.63457 5.20625 1.37207 4.87812 1.37207H1.90312Z" fill="#1B1E28" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_433_17512">
                                            <rect width="14" height="14" fill="white" transform="translate(0 0.0595703)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-outline-light  viewstyle-active d-none" id="layout-list-post" style="margin: 4px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                                    <g clip-path="url(#clip0_433_17512)">
                                        <path d="M12.0949 13.6221H9.11992C8.31055 13.6221 7.6543 12.9658 7.6543 12.1564V8.15332C7.6543 7.9127 7.85117 7.71582 8.0918 7.71582H12.0949C12.9043 7.71582 13.5605 8.37207 13.5605 9.18145V12.1564C13.5605 12.9658 12.9043 13.6221 12.0949 13.6221ZM8.5293 8.59082V12.1564C8.5293 12.4846 8.7918 12.7471 9.11992 12.7471H12.0949C12.423 12.7471 12.6855 12.4846 12.6855 12.1564V9.18145C12.6855 8.85332 12.423 8.59082 12.0949 8.59082H8.5293Z" fill="#1B1E28" />
                                        <path d="M4.87812 13.6221H1.90312C1.09375 13.6221 0.4375 12.9658 0.4375 12.1564V9.18145C0.4375 8.37207 1.09375 7.71582 1.90312 7.71582H5.90625C6.14687 7.71582 6.34375 7.9127 6.34375 8.15332V12.1564C6.34375 12.9658 5.6875 13.6221 4.87812 13.6221ZM1.90312 8.59082C1.575 8.59082 1.3125 8.85332 1.3125 9.18145V12.1564C1.3125 12.4846 1.575 12.7471 1.90312 12.7471H4.87812C5.20625 12.7471 5.46875 12.4846 5.46875 12.1564V8.59082H1.90312Z" fill="#1B1E28" />
                                        <path d="M12.0949 6.40332H8.0918C7.85117 6.40332 7.6543 6.20645 7.6543 5.96582V1.9627C7.6543 1.15332 8.31055 0.49707 9.11992 0.49707H12.0949C12.9043 0.49707 13.5605 1.15332 13.5605 1.9627V4.9377C13.5605 5.74707 12.9043 6.40332 12.0949 6.40332ZM8.5293 5.52832H12.0949C12.423 5.52832 12.6855 5.26582 12.6855 4.9377V1.9627C12.6855 1.63457 12.423 1.37207 12.0949 1.37207H9.11992C8.7918 1.37207 8.5293 1.63457 8.5293 1.9627V5.52832Z" fill="#1B1E28" />
                                        <path d="M5.90625 6.40332H1.90312C1.09375 6.40332 0.4375 5.74707 0.4375 4.9377V1.9627C0.4375 1.15332 1.09375 0.49707 1.90312 0.49707H4.87812C5.6875 0.49707 6.34375 1.15332 6.34375 1.9627V5.96582C6.34375 6.20645 6.14687 6.40332 5.90625 6.40332ZM1.90312 1.37207C1.575 1.37207 1.3125 1.63457 1.3125 1.9627V4.9377C1.3125 5.26582 1.575 5.52832 1.90312 5.52832H5.46875V1.9627C5.46875 1.63457 5.20625 1.37207 4.87812 1.37207H1.90312Z" fill="#1B1E28" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_433_17512">
                                            <rect width="14" height="14" fill="white" transform="translate(0 0.0595703)" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </button>
                        </div>
                        <div class="ml-4 d-flex" style="display: none;">
                            <select class="order-sort" style="display: none;">
                                <option>Sắp xếp</option>
                                <option>Mới nhất</option>
                                <option>Cũ nhất</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row grid-post" id="list-post">
                </div>
                <div class="col-auto">
                    <nav class="mt-32px mb-32px" aria-label="Posts list pagination">
                        <ul class="pagination pxp-pagination" id="pagination-post">
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="post-category col-lg-3 d">
                <div class="post-sidebar">
                    <div class="widget categorie_widget" id="list-category">
                        <h4 class="c_head">Danh mục thư viện</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
