@{
    Layout = null;
}
<link href="~/happys/css/aboutus/aboutus.css" rel="stylesheet" />
<section>
    <div class="container">
        <div class="about">
                <div class="image-flex">
                    <div class="image-left">
                            <img class="image-first-child" src="/happys/img/about-us/hearth.svg" />
                        
                        <div class="image-second-child">
                            <img src="/happys/img/about-us/smile-1.svg" />
                        </div>
                        
                    </div>
                    
                    <div class="image-right">
                        <div class="image-first">
                            <img src="/happys/img/about-us/hand.svg" />
                        </div>
                        <div class="image-first">
                            <img src="/happys/img/about-us/smile.svg" />
                        </div>
                        <div class="image-first">
                            <img src="/happys/img/about-us/smile.svg" />
                        </div>
                        
                    </div>
                </div>
           
            <div class="aboutus">
                <label class="title-about">HappyS - Nền tảng sức khỏe tinh thần trực tuyến</label>

                <p class="content-about">Ứng dụng di động HappyS và trang web Happy-s.vn được xây dựng nhằm mục đích hỗ trợ kết nối học sinh tới các dịch vụ hỗ trợ về sức khỏe tâm thần trong trường học cũng như giúp các em tiếp cận được các nguồn thông tin hữu ích, và là nơi để các em có thể chia sẻ những suy nghĩ, băn khoăn và lo lắng để giúp học sinh có sức khỏe tâm thần khỏe mạnh</p>
            </div>
        </div>
        </div>
</section>