@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<script src="~/happys/js/page/homepage.js" asp-append-version="true"></script>
<section class="doc_features_area">
    @* <img class="doc_features_shap" src="happys/img/new/shap_white.png" alt=""> *@
    <div class="container">
        <div class="doc_features_inner">
            @*<div class="media doc_features_item wow fadeInUp align-items-center" data-wow-delay="0.1s" data-wow-duration="0.5s">
                <img src="happys/img/icon/report-health.png" alt="">
                <div class="media-body">
                    <a href="/#">
                        <h4>Sàng lọc sức khỏe</h4>
                    </a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the </p>
                </div>
            </div>
            <div class="media doc_features_item wow fadeInUp align-items-center" data-wow-delay="0.2s" data-wow-duration="0.6s">
                <img src="happys/img/icon/message.png" alt="">
                <div class="media-body">
                    <a href="/#">
                        <h4>Nhắn tin và kết nối</h4>
                    </a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                </div>
            </div>
            <div class="media doc_features_item wow fadeInUp align-items-center" data-wow-delay="0.3s" data-wow-duration="0.7s">
                <img src="happys/img/icon/document.png" alt="">
                <div class="media-body">
                    <a href="/#">
                        <h4>Diễn đàn và tin tức</h4>
                    </a>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the </p>
                </div>
            </div>*@

            @*Author: TrungHieuTr*@
            <div class="homepage-content-inner" style="grid-row: 1 / span 2">
                <img src="/happys/img/home/trac-nghiem.svg" />
                <div class="select-item">
                    <img src="/happys/img/home/icon-trac.svg" />
                    <a href="/trac-nghiem-suc-khoe-tam-than" style="color: white !important">Trắc nghiệm SKTT</a>
                </div>
            </div>
            <div class="homepage-content-inner" style="grid-row: 1 / span 2">
                <img src="/happys/img/home/booking.svg" />
                <div class="select-item">
                    <img src="~/happys/img/home/icon-booking.svg" />
                    <a href="/dat-lich-tu-van-vien" style="color: white !important">
                        Đặt lịch tư vấn
                    </a>
                </div>
            </div>
            <div class="homepage-content-inner">
                <img src="/happys/img/home/can-bo.svg" />
                <div class="select-item">
                    <img src="~/happys/img/home/icon-vien.svg" />
                    <a href="/danh-sach-tu-van-vien" style="color: white">
                        Cán bộ tư vấn
                    </a>
                </div>
            </div>
            <div class="homepage-content-inner">
                <img src="/happys/img/home/co-so.svg" />
                <div class="select-item">
                    <img src="/happys/img/home/icon-so.svg" />
                    <a href="/co-so-tham-van" style="color: white">
                        Cơ sở tư vấn
                    </a>
                </div>
            </div>

            @*  <div class="see_more_item collapse-wrap">
            <div class="media doc_features_item">
            <img src="happys/img/new/icon7.png" alt="">
            <div class="media-body">
            <a href="/#">
            <h4>Productivity</h4>
            </a>
            <p>245 Posts</p>
            </div>
            </div>
            <div class="media doc_features_item">
            <img src="happys/img/new/icon8.png" alt="">
            <div class="media-body">
            <a href="/#">
            <h4>Docs in Help Scout</h4>
            </a>
            <p>245 Posts</p>
            </div>
            </div>
            <div class="media doc_features_item">
            <img src="happys/img/new/icon9.png" alt="">
            <div class="media-body">
            <a href="/#">
            <h4>Formatting Content</h4>
            </a>
            <p>245 Posts</p>
            </div>
            </div>
            </div>
            <a href="/#more-features" class="collapse-btn see_btn">
            <i class="arrow_carrot-down_alt2"></i>
            <span class="text">Show More</span>
            </a> *@
        </div>
    </div>
</section>
<section class="recommended_topic_area">
    <div class="container">
        <div class="recommended_topic_inner">
@*             <a href="//about-us" class="btn btnHS about-me">
                Về chúng tôi HappyS
            </a> *@
            <img class="doc_shap_one" src="happys/svg/shape.svg" alt="">
            @*<div class="doc_round one" data-parallax='{"x": -80, "y": -100, "rotateY":0}'></div>
            <div class="doc_round two" data-parallax='{"x": -10, "y": 70, "rotateY":0}'></div>
            <div class="doc_title text-center">
                <h2 class="wow fadeInUp" data-wow-delay="0.2s">Về chúng tôi <span>HappyS</span></h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">
                    Ứng dụng vì sức khỏe tinh thần
                </p>
            </div>*@
            <div class="general row">
                <div class="col-lg-6 col-12">
                    <div class="about_me wow fadeInUp" data-wow-delay="0.2s">
                        <img src="/happys/img/home/studen.png" alt="">
                    </div>
                </div>
                <div class="detail-about-me col-lg-6 col-12">
                    <a href="/ve-chung-toi">
                        <h3>HAPPYS</h3>
                    </a>
                    <p>
                        Ứng dụng di động HappyS và trang web Happy-s.vn được xây dựng nhằm mục đích hỗ trợ kết nối học sinh tới các dịch vụ hỗ trợ về sức khỏe tâm thần trong trường học cũng như giúp các em tiếp cận được các nguồn thông tin hữu ích, và là nơi để các em có thể chia sẻ những suy nghĩ, băn khoăn và lo lắng để giúp học sinh có sức khỏe tâm thần khỏe mạnh
                    </p>
                    <a href="/ve-chung-toi" class="detail btnHS2" style="color:white">Xem Thêm</a>
                </div>
                @*<div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.5s">
                        <a href="/#">
                            <h3>Dự án</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="/#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></li>
                            <li><a href="/#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></li>
                            <li><a href="/#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></li>
                            <li><a href="/#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></li>
                        </ul>
                    </div>
                </div>*@
            </div>
            <div class="row">
                <div class="detail-about-me col-lg-6 col-12">
                    <a href="/trac-nghiem-suc-khoe-tam-than">
                        <h3>Trắc nghiệm tâm thần</h3>
                    </a>
                    <p>
                        Thang đánh giá Lo âu – Trầm cảm – Căng thẳng (DASS 21 – Depression Anxiety and Stress Scales) là thang đánh giá được phát triển bởi các nhà khoa học thuộc Đại học New South Wales (University of New South Wales), Australia. DASS-21 có thể được dùng trong tầm soát và đánh giá mức độ trầm cảm, lo âu và căng thẳng và đã được dùng nhiều với các nhóm đối tượng khác nhau tại Việt Nam.
                    </p>
                    <a href="/trac-nghiem-suc-khoe-tam-than" class="detail btnHS2" style="color:white">Tham gia ngay</a>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about_me wow fadeInUp" data-wow-delay="0.2s">
                        <img src="/happys/img/about-us/lib-6.svg" />
                    </div>
                </div>
                @*<div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.5s">
                        <a href="/#">
                            <h3>Dự án</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="/#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></li>
                            <li><a href="/#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></li>
                            <li><a href="/#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></li>
                            <li><a href="/#">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a></li>
                        </ul>
                    </div>
                </div>*@
            </div>
            @*<div class="text-center wow fadeInUp" data-wow-delay="0.2s">
                <a href="/#" class="question_text">
                    Ứng dụng vì sức khỏe tinh thần
                </a>
            </div>*@
        </div>
    </div>
</section>
<section class="doc_community_area">
    <div class="fluid-container">
        <div class="doc_title text-center">
            <h2 class="forum-title wow fadeInUp" data-wow-delay="0.2s">Diễn đàn</h2>
            @*<p class="wow fadeInUp" data-wow-delay="0.4s">
                Ứng dụng vì sức khỏe tinh thần
            </p>*@
        </div>
        <div class="container">
            <div class="doc_community_info">
                <div class="doc_community_item wow fadeInUp gap-xs-16px" data-wow-delay="0.1s">
                    <div class="doc_community_icon">
                        <img src="~/happys/img/img-author.png" />
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-between doc_entry_content-container">
                        <div class="d-flex flex-row flex-xs-column align-items-end align-items-xs-start justify-content-between justify-content-xs-start w-100 gap-xs-10px">
                            <div class="doc_entry_content">
                                <a class="doc-entry-head" href="/#">
                                    <h4>Sàng lọc Các vấn đề sức khỏe tinh thần phổ biến ở đối tượng học sinh</h4>
                                </a>
                                <div class="doc-entry-body">
                                    <div class="entry-left">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                                                <g clip-path="url(#clip0_1871_213307)">
                                                    <path d="M6 8.35486V2.35486C6 2.00819 6.04 1.67486 6.13333 1.35486H2.33333C1.05333 1.35486 0 2.40819 0 3.68819V9.68819C0 10.9682 1.05333 12.0215 2.33333 12.0215H2.82667L4.53333 14.2882C4.72 14.5282 5 14.6749 5.29333 14.6882H5.33333C5.62667 14.6882 5.89333 14.5682 6.08 14.3415L8.08 12.0615C6.84 11.2882 6 9.91486 6 8.35486Z" fill="#FFC107" />
                                                    <path d="M29.6666 1.35486H25.8666C25.9599 1.67486 25.9999 2.00819 25.9999 2.35486V8.35486C25.9999 9.91486 25.1599 11.2882 23.9199 12.0615L25.9199 14.3415C26.1066 14.5682 26.3733 14.6882 26.6666 14.6882H26.7066C26.9999 14.6749 27.2799 14.5282 27.4666 14.2882L29.1599 12.0215H29.6666C30.9466 12.0215 31.9999 10.9682 31.9999 9.68819V3.68819C31.9999 2.40819 30.9466 1.35486 29.6666 1.35486Z" fill="#FFC107" />
                                                    <path d="M16 13.3548C15.988 13.3548 15.9747 13.3548 15.9627 13.3548C15.6613 13.3428 15.3813 13.1961 15.2 12.9548L13.5 10.6882H10.3333C9.04667 10.6882 8 9.64148 8 8.35482V2.35482C8 1.06815 9.04667 0.0214844 10.3333 0.0214844H21.6667C22.9533 0.0214844 24 1.06815 24 2.35482V8.35482C24 9.64148 22.9533 10.6882 21.6667 10.6882H18.7867L16.752 13.0135C16.5627 13.2308 16.288 13.3548 16 13.3548Z" fill="#03A9F4" />
                                                    <path d="M5.33268 22.6884C6.80544 22.6884 7.99935 21.4945 7.99935 20.0218C7.99935 18.549 6.80544 17.3551 5.33268 17.3551C3.85992 17.3551 2.66602 18.549 2.66602 20.0218C2.66602 21.4945 3.85992 22.6884 5.33268 22.6884Z" fill="#4CAF50" />
                                                    <path d="M8.89333 24.5551C7.54667 25.5684 6.66667 27.1951 6.66667 29.0217V29.3551H1C0.453333 29.3551 0 28.9017 0 28.3551V27.6884C0 25.6617 1.64 24.0217 3.66667 24.0217H7C7.69333 24.0217 8.34667 24.2217 8.89333 24.5551Z" fill="#4CAF50" />
                                                    <path d="M26.6667 22.6884C28.1394 22.6884 29.3333 21.4945 29.3333 20.0218C29.3333 18.549 28.1394 17.3551 26.6667 17.3551C25.1939 17.3551 24 18.549 24 20.0218C24 21.4945 25.1939 22.6884 26.6667 22.6884Z" fill="#4CAF50" />
                                                    <path d="M32.0008 27.6884V28.3551C32.0008 28.9017 31.5474 29.3551 31.0008 29.3551H25.3341V29.0217C25.3341 27.1951 24.4541 25.5684 23.1074 24.5551C23.6541 24.2217 24.3074 24.0217 25.0008 24.0217H28.3341C30.3608 24.0217 32.0008 25.6617 32.0008 27.6884Z" fill="#4CAF50" />
                                                    <path d="M16 23.3549C18.2091 23.3549 20 21.564 20 19.3549C20 17.1457 18.2091 15.3549 16 15.3549C13.7909 15.3549 12 17.1457 12 19.3549C12 21.564 13.7909 23.3549 16 23.3549Z" fill="#2196F3" />
                                                    <path d="M19.666 25.3549H12.3327C10.31 25.3549 8.66602 26.9989 8.66602 29.0215V31.0215C8.66602 31.5735 9.11402 32.0215 9.66602 32.0215H22.3327C22.8847 32.0215 23.3327 31.5735 23.3327 31.0215V29.0215C23.3327 26.9989 21.6887 25.3549 19.666 25.3549Z" fill="#2196F3" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1871_213307">
                                                        <rect width="32" height="32" fill="white" transform="translate(0 0.0214844)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <a class="category-forum">
                                            Danh mục 1
                                        </a>
                                        <div class="publish-time">
                                            June 15, 2021 at 7:36 am
                                        </div>
                                    </div>
                                    <div class="entry-middle">
                                        <img src="~/happys/img/img-author.png" />
                                        <img src="~/happys/img/img-author.png" />
                                        <img src="~/happys/img/img-author.png" />
                                    </div>
                                    <div class="entry-right">
                                        <div class="count-comment">
                                            <div class="icon-comment">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                                    <g clip-path="url(#clip0_1871_213322)">
                                                        <path d="M11.0073 21.7144C10.571 21.7144 10.1319 21.5604 9.78175 21.2497L6.34608 18.3557H3.66667C1.6445 18.3557 3.83036e-07 16.7112 3.83036e-07 14.6891V3.68815C-0.000916284 1.66598 1.64358 0.0214844 3.66575 0.0214844H18.3324C20.3546 0.0214844 21.9991 1.66598 21.9991 3.68815V14.6882C21.9991 16.7103 20.3546 18.3548 18.3324 18.3548H15.7181L12.1917 21.2698C11.8598 21.565 11.4354 21.7135 11.0064 21.7135L11.0073 21.7144ZM3.66575 1.85482C2.65467 1.85482 1.83242 2.67707 1.83242 3.68815V14.6882C1.83242 15.6992 2.65467 16.5215 3.66575 16.5215H6.68067C6.897 16.5215 7.106 16.5976 7.27192 16.7369L10.9817 19.8627L14.8042 16.7314C14.9692 16.5957 15.1754 16.5215 15.389 16.5215H18.3333C19.3444 16.5215 20.1667 15.6992 20.1667 14.6882V3.68815C20.1667 2.67707 19.3444 1.85482 18.3333 1.85482H3.66575Z" fill="black" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_1871_213322">
                                                            <rect width="22" height="22" fill="white" transform="translate(0 0.0214844)" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                            120
                                        </div>
                                        <div class="count-like">
                                            <div class="icon-like">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                                    <g clip-path="url(#clip0_1871_213326)">
                                                        <path d="M20.8753 7.09909C20.4454 6.60373 19.9142 6.20651 19.3174 5.93433C18.7207 5.66215 18.0725 5.52137 17.4167 5.5215H13.7601L14.0681 3.65059C14.1771 2.99174 14.0456 2.31568 13.6976 1.7457C13.3497 1.17572 12.8084 0.749808 12.1726 0.545647C11.5368 0.341486 10.8488 0.372681 10.234 0.63354C9.61927 0.8944 9.11879 1.36754 8.82383 1.96667L7.06933 5.5215H4.58333C3.3682 5.52296 2.20326 6.00631 1.34403 6.86554C0.484808 7.72477 0.00145554 8.88971 0 10.1048L0 14.6882C0.00145554 15.9033 0.484808 17.0682 1.34403 17.9275C2.20326 18.7867 3.3682 19.2701 4.58333 19.2715H16.775C17.8782 19.267 18.9431 18.8666 19.776 18.1432C20.6089 17.4198 21.1544 16.4215 21.3134 15.3298L21.9597 10.7465C22.0507 10.0963 22.001 9.43422 21.8139 8.80494C21.6268 8.17566 21.3067 7.59392 20.8753 7.09909ZM1.83333 14.6882V10.1048C1.83333 9.37549 2.12306 8.67602 2.63879 8.16029C3.15451 7.64457 3.85399 7.35484 4.58333 7.35484H6.41667V17.4382H4.58333C3.85399 17.4382 3.15451 17.1484 2.63879 16.6327C2.12306 16.117 1.83333 15.4175 1.83333 14.6882ZM20.1401 10.4889L19.4929 15.0723C19.3983 15.7267 19.0719 16.3255 18.5731 16.7597C18.0743 17.1939 17.4363 17.4347 16.775 17.4382H8.25V7.111C8.33639 7.03574 8.4079 6.94495 8.46083 6.84334L10.4674 2.77792C10.5427 2.64219 10.649 2.52625 10.7778 2.43964C10.9066 2.35302 11.0541 2.2982 11.2082 2.27968C11.3623 2.26115 11.5185 2.27946 11.6642 2.33309C11.8098 2.38672 11.9406 2.47414 12.0459 2.58817C12.136 2.6929 12.2018 2.81621 12.2387 2.94931C12.2757 3.08241 12.2827 3.22202 12.2595 3.35817L11.7755 6.2915C11.7543 6.42257 11.7617 6.55669 11.7974 6.68458C11.8331 6.81246 11.8962 6.93107 11.9822 7.0322C12.0683 7.13332 12.1752 7.21455 12.2958 7.27026C12.4163 7.32596 12.5475 7.35482 12.6803 7.35484H17.4167C17.8103 7.35478 18.1993 7.43923 18.5575 7.60247C18.9157 7.76571 19.2346 8.00394 19.4928 8.30105C19.751 8.59817 19.9424 8.94725 20.0541 9.32469C20.1657 9.70214 20.1951 10.0992 20.1401 10.4889Z" fill="black" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_1871_213326">
                                                            <rect width="22" height="22" fill="white" transform="translate(0 0.0214844)" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                            120
                                        </div>
                                        <div class="count-watch">
                                            <div class="icon-watch">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                                    <path d="M21.8358 10.2707C21.031 8.51073 17.8749 2.77148 10.9999 2.77148C4.12488 2.77148 0.968799 8.51073 0.163965 10.2707C0.0559254 10.5066 0 10.763 0 11.0224C0 11.2818 0.0559254 11.5382 0.163965 11.7741C0.968799 13.5322 4.12488 19.2715 10.9999 19.2715C17.8749 19.2715 21.031 13.5322 21.8358 11.7722C21.9436 11.5366 21.9994 11.2806 21.9994 11.0215C21.9994 10.7624 21.9436 10.5063 21.8358 10.2707ZM10.9999 17.4382C5.21847 17.4382 2.52072 12.5193 1.83322 11.0316C2.52072 9.52365 5.21847 4.60482 10.9999 4.60482C16.7675 4.60482 19.4662 9.50257 20.1665 11.0215C19.4662 12.5404 16.7675 17.4382 10.9999 17.4382Z" fill="black" />
                                                    <path d="M10.9994 6.43811C10.0929 6.43811 9.20671 6.70692 8.45299 7.21054C7.69926 7.71416 7.1118 8.42998 6.7649 9.26748C6.418 10.105 6.32724 11.0265 6.50409 11.9156C6.68093 12.8047 7.11745 13.6214 7.75844 14.2624C8.39944 14.9033 9.21611 15.3399 10.1052 15.5167C10.9943 15.6936 11.9158 15.6028 12.7533 15.2559C13.5908 14.909 14.3066 14.3215 14.8103 13.5678C15.3139 12.8141 15.5827 11.9279 15.5827 11.0214C15.5812 9.80632 15.0979 8.64137 14.2386 7.78215C13.3794 6.92292 12.2145 6.43957 10.9994 6.43811ZM10.9994 13.7714C10.4555 13.7714 9.92377 13.6102 9.47153 13.308C9.0193 13.0058 8.66682 12.5763 8.45868 12.0738C8.25054 11.5713 8.19608 11.0184 8.30219 10.4849C8.4083 9.9515 8.67021 9.46149 9.05481 9.0769C9.4394 8.69231 9.9294 8.43039 10.4629 8.32428C10.9963 8.21817 11.5492 8.27263 12.0517 8.48077C12.5542 8.68892 12.9837 9.04139 13.2859 9.49363C13.5881 9.94586 13.7494 10.4775 13.7494 11.0214C13.7494 11.7508 13.4596 12.4503 12.9439 12.966C12.4282 13.4817 11.7287 13.7714 10.9994 13.7714Z" fill="black" />
                                                </svg>
                                            </div>
                                            120
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="doc_community_item wow fadeInUp gap-xs-16px" data-wow-delay="0.1s">
                    <div class="doc_community_icon">
                        <img src="~/happys/img/img-author.png" />
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-between doc_entry_content-container">
                        <div class="d-flex flex-row flex-xs-column align-items-end align-items-xs-start justify-content-between justify-content-xs-start w-100 gap-xs-10px">
                            <div class="doc_entry_content">
                                <a class="doc-entry-head" href="/#">
                                    <h4>Sàng lọc Các vấn đề sức khỏe tinh thần phổ biến ở đối tượng học sinh</h4>
                                </a>
                                <div class="doc-entry-body">
                                    <div class="entry-left">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                                                <g clip-path="url(#clip0_1871_213307)">
                                                    <path d="M6 8.35486V2.35486C6 2.00819 6.04 1.67486 6.13333 1.35486H2.33333C1.05333 1.35486 0 2.40819 0 3.68819V9.68819C0 10.9682 1.05333 12.0215 2.33333 12.0215H2.82667L4.53333 14.2882C4.72 14.5282 5 14.6749 5.29333 14.6882H5.33333C5.62667 14.6882 5.89333 14.5682 6.08 14.3415L8.08 12.0615C6.84 11.2882 6 9.91486 6 8.35486Z" fill="#FFC107" />
                                                    <path d="M29.6666 1.35486H25.8666C25.9599 1.67486 25.9999 2.00819 25.9999 2.35486V8.35486C25.9999 9.91486 25.1599 11.2882 23.9199 12.0615L25.9199 14.3415C26.1066 14.5682 26.3733 14.6882 26.6666 14.6882H26.7066C26.9999 14.6749 27.2799 14.5282 27.4666 14.2882L29.1599 12.0215H29.6666C30.9466 12.0215 31.9999 10.9682 31.9999 9.68819V3.68819C31.9999 2.40819 30.9466 1.35486 29.6666 1.35486Z" fill="#FFC107" />
                                                    <path d="M16 13.3548C15.988 13.3548 15.9747 13.3548 15.9627 13.3548C15.6613 13.3428 15.3813 13.1961 15.2 12.9548L13.5 10.6882H10.3333C9.04667 10.6882 8 9.64148 8 8.35482V2.35482C8 1.06815 9.04667 0.0214844 10.3333 0.0214844H21.6667C22.9533 0.0214844 24 1.06815 24 2.35482V8.35482C24 9.64148 22.9533 10.6882 21.6667 10.6882H18.7867L16.752 13.0135C16.5627 13.2308 16.288 13.3548 16 13.3548Z" fill="#03A9F4" />
                                                    <path d="M5.33268 22.6884C6.80544 22.6884 7.99935 21.4945 7.99935 20.0218C7.99935 18.549 6.80544 17.3551 5.33268 17.3551C3.85992 17.3551 2.66602 18.549 2.66602 20.0218C2.66602 21.4945 3.85992 22.6884 5.33268 22.6884Z" fill="#4CAF50" />
                                                    <path d="M8.89333 24.5551C7.54667 25.5684 6.66667 27.1951 6.66667 29.0217V29.3551H1C0.453333 29.3551 0 28.9017 0 28.3551V27.6884C0 25.6617 1.64 24.0217 3.66667 24.0217H7C7.69333 24.0217 8.34667 24.2217 8.89333 24.5551Z" fill="#4CAF50" />
                                                    <path d="M26.6667 22.6884C28.1394 22.6884 29.3333 21.4945 29.3333 20.0218C29.3333 18.549 28.1394 17.3551 26.6667 17.3551C25.1939 17.3551 24 18.549 24 20.0218C24 21.4945 25.1939 22.6884 26.6667 22.6884Z" fill="#4CAF50" />
                                                    <path d="M32.0008 27.6884V28.3551C32.0008 28.9017 31.5474 29.3551 31.0008 29.3551H25.3341V29.0217C25.3341 27.1951 24.4541 25.5684 23.1074 24.5551C23.6541 24.2217 24.3074 24.0217 25.0008 24.0217H28.3341C30.3608 24.0217 32.0008 25.6617 32.0008 27.6884Z" fill="#4CAF50" />
                                                    <path d="M16 23.3549C18.2091 23.3549 20 21.564 20 19.3549C20 17.1457 18.2091 15.3549 16 15.3549C13.7909 15.3549 12 17.1457 12 19.3549C12 21.564 13.7909 23.3549 16 23.3549Z" fill="#2196F3" />
                                                    <path d="M19.666 25.3549H12.3327C10.31 25.3549 8.66602 26.9989 8.66602 29.0215V31.0215C8.66602 31.5735 9.11402 32.0215 9.66602 32.0215H22.3327C22.8847 32.0215 23.3327 31.5735 23.3327 31.0215V29.0215C23.3327 26.9989 21.6887 25.3549 19.666 25.3549Z" fill="#2196F3" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1871_213307">
                                                        <rect width="32" height="32" fill="white" transform="translate(0 0.0214844)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <a class="category-forum">
                                            Danh mục 1
                                        </a>
                                        <div class="publish-time">
                                            June 15, 2021 at 7:36 am
                                        </div>
                                    </div>
                                    <div class="entry-middle">
                                        <img src="~/happys/img/img-author.png" />
                                        <img src="~/happys/img/img-author.png" />
                                        <img src="~/happys/img/img-author.png" />
                                    </div>
                                    <div class="entry-right">
                                        <div class="count-comment">
                                            <div class="icon-comment">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                                    <g clip-path="url(#clip0_1871_213322)">
                                                        <path d="M11.0073 21.7144C10.571 21.7144 10.1319 21.5604 9.78175 21.2497L6.34608 18.3557H3.66667C1.6445 18.3557 3.83036e-07 16.7112 3.83036e-07 14.6891V3.68815C-0.000916284 1.66598 1.64358 0.0214844 3.66575 0.0214844H18.3324C20.3546 0.0214844 21.9991 1.66598 21.9991 3.68815V14.6882C21.9991 16.7103 20.3546 18.3548 18.3324 18.3548H15.7181L12.1917 21.2698C11.8598 21.565 11.4354 21.7135 11.0064 21.7135L11.0073 21.7144ZM3.66575 1.85482C2.65467 1.85482 1.83242 2.67707 1.83242 3.68815V14.6882C1.83242 15.6992 2.65467 16.5215 3.66575 16.5215H6.68067C6.897 16.5215 7.106 16.5976 7.27192 16.7369L10.9817 19.8627L14.8042 16.7314C14.9692 16.5957 15.1754 16.5215 15.389 16.5215H18.3333C19.3444 16.5215 20.1667 15.6992 20.1667 14.6882V3.68815C20.1667 2.67707 19.3444 1.85482 18.3333 1.85482H3.66575Z" fill="black" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_1871_213322">
                                                            <rect width="22" height="22" fill="white" transform="translate(0 0.0214844)" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                            120
                                        </div>
                                        <div class="count-like">
                                            <div class="icon-like">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                                    <g clip-path="url(#clip0_1871_213326)">
                                                        <path d="M20.8753 7.09909C20.4454 6.60373 19.9142 6.20651 19.3174 5.93433C18.7207 5.66215 18.0725 5.52137 17.4167 5.5215H13.7601L14.0681 3.65059C14.1771 2.99174 14.0456 2.31568 13.6976 1.7457C13.3497 1.17572 12.8084 0.749808 12.1726 0.545647C11.5368 0.341486 10.8488 0.372681 10.234 0.63354C9.61927 0.8944 9.11879 1.36754 8.82383 1.96667L7.06933 5.5215H4.58333C3.3682 5.52296 2.20326 6.00631 1.34403 6.86554C0.484808 7.72477 0.00145554 8.88971 0 10.1048L0 14.6882C0.00145554 15.9033 0.484808 17.0682 1.34403 17.9275C2.20326 18.7867 3.3682 19.2701 4.58333 19.2715H16.775C17.8782 19.267 18.9431 18.8666 19.776 18.1432C20.6089 17.4198 21.1544 16.4215 21.3134 15.3298L21.9597 10.7465C22.0507 10.0963 22.001 9.43422 21.8139 8.80494C21.6268 8.17566 21.3067 7.59392 20.8753 7.09909ZM1.83333 14.6882V10.1048C1.83333 9.37549 2.12306 8.67602 2.63879 8.16029C3.15451 7.64457 3.85399 7.35484 4.58333 7.35484H6.41667V17.4382H4.58333C3.85399 17.4382 3.15451 17.1484 2.63879 16.6327C2.12306 16.117 1.83333 15.4175 1.83333 14.6882ZM20.1401 10.4889L19.4929 15.0723C19.3983 15.7267 19.0719 16.3255 18.5731 16.7597C18.0743 17.1939 17.4363 17.4347 16.775 17.4382H8.25V7.111C8.33639 7.03574 8.4079 6.94495 8.46083 6.84334L10.4674 2.77792C10.5427 2.64219 10.649 2.52625 10.7778 2.43964C10.9066 2.35302 11.0541 2.2982 11.2082 2.27968C11.3623 2.26115 11.5185 2.27946 11.6642 2.33309C11.8098 2.38672 11.9406 2.47414 12.0459 2.58817C12.136 2.6929 12.2018 2.81621 12.2387 2.94931C12.2757 3.08241 12.2827 3.22202 12.2595 3.35817L11.7755 6.2915C11.7543 6.42257 11.7617 6.55669 11.7974 6.68458C11.8331 6.81246 11.8962 6.93107 11.9822 7.0322C12.0683 7.13332 12.1752 7.21455 12.2958 7.27026C12.4163 7.32596 12.5475 7.35482 12.6803 7.35484H17.4167C17.8103 7.35478 18.1993 7.43923 18.5575 7.60247C18.9157 7.76571 19.2346 8.00394 19.4928 8.30105C19.751 8.59817 19.9424 8.94725 20.0541 9.32469C20.1657 9.70214 20.1951 10.0992 20.1401 10.4889Z" fill="black" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_1871_213326">
                                                            <rect width="22" height="22" fill="white" transform="translate(0 0.0214844)" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                            120
                                        </div>
                                        <div class="count-watch">
                                            <div class="icon-watch">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                                    <path d="M21.8358 10.2707C21.031 8.51073 17.8749 2.77148 10.9999 2.77148C4.12488 2.77148 0.968799 8.51073 0.163965 10.2707C0.0559254 10.5066 0 10.763 0 11.0224C0 11.2818 0.0559254 11.5382 0.163965 11.7741C0.968799 13.5322 4.12488 19.2715 10.9999 19.2715C17.8749 19.2715 21.031 13.5322 21.8358 11.7722C21.9436 11.5366 21.9994 11.2806 21.9994 11.0215C21.9994 10.7624 21.9436 10.5063 21.8358 10.2707ZM10.9999 17.4382C5.21847 17.4382 2.52072 12.5193 1.83322 11.0316C2.52072 9.52365 5.21847 4.60482 10.9999 4.60482C16.7675 4.60482 19.4662 9.50257 20.1665 11.0215C19.4662 12.5404 16.7675 17.4382 10.9999 17.4382Z" fill="black" />
                                                    <path d="M10.9994 6.43811C10.0929 6.43811 9.20671 6.70692 8.45299 7.21054C7.69926 7.71416 7.1118 8.42998 6.7649 9.26748C6.418 10.105 6.32724 11.0265 6.50409 11.9156C6.68093 12.8047 7.11745 13.6214 7.75844 14.2624C8.39944 14.9033 9.21611 15.3399 10.1052 15.5167C10.9943 15.6936 11.9158 15.6028 12.7533 15.2559C13.5908 14.909 14.3066 14.3215 14.8103 13.5678C15.3139 12.8141 15.5827 11.9279 15.5827 11.0214C15.5812 9.80632 15.0979 8.64137 14.2386 7.78215C13.3794 6.92292 12.2145 6.43957 10.9994 6.43811ZM10.9994 13.7714C10.4555 13.7714 9.92377 13.6102 9.47153 13.308C9.0193 13.0058 8.66682 12.5763 8.45868 12.0738C8.25054 11.5713 8.19608 11.0184 8.30219 10.4849C8.4083 9.9515 8.67021 9.46149 9.05481 9.0769C9.4394 8.69231 9.9294 8.43039 10.4629 8.32428C10.9963 8.21817 11.5492 8.27263 12.0517 8.48077C12.5542 8.68892 12.9837 9.04139 13.2859 9.49363C13.5881 9.94586 13.7494 10.4775 13.7494 11.0214C13.7494 11.7508 13.4596 12.4503 12.9439 12.966C12.4282 13.4817 11.7287 13.7714 10.9994 13.7714Z" fill="black" />
                                                </svg>
                                            </div>
                                            120
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="doc_community_item wow fadeInUp gap-xs-16px" data-wow-delay="0.1s">
                    <div class="doc_community_icon">
                        <img src="~/happys/img/img-author.png" />
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-between doc_entry_content-container">
                        <div class="d-flex flex-row flex-xs-column align-items-end align-items-xs-start justify-content-between justify-content-xs-start w-100 gap-xs-10px">
                            <div class="doc_entry_content">
                                <a class="doc-entry-head" href="/#">
                                    <h4>Sàng lọc Các vấn đề sức khỏe tinh thần phổ biến ở đối tượng học sinh</h4>
                                </a>
                                <div class="doc-entry-body">
                                    <div class="entry-left">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                                                <g clip-path="url(#clip0_1871_213307)">
                                                    <path d="M6 8.35486V2.35486C6 2.00819 6.04 1.67486 6.13333 1.35486H2.33333C1.05333 1.35486 0 2.40819 0 3.68819V9.68819C0 10.9682 1.05333 12.0215 2.33333 12.0215H2.82667L4.53333 14.2882C4.72 14.5282 5 14.6749 5.29333 14.6882H5.33333C5.62667 14.6882 5.89333 14.5682 6.08 14.3415L8.08 12.0615C6.84 11.2882 6 9.91486 6 8.35486Z" fill="#FFC107" />
                                                    <path d="M29.6666 1.35486H25.8666C25.9599 1.67486 25.9999 2.00819 25.9999 2.35486V8.35486C25.9999 9.91486 25.1599 11.2882 23.9199 12.0615L25.9199 14.3415C26.1066 14.5682 26.3733 14.6882 26.6666 14.6882H26.7066C26.9999 14.6749 27.2799 14.5282 27.4666 14.2882L29.1599 12.0215H29.6666C30.9466 12.0215 31.9999 10.9682 31.9999 9.68819V3.68819C31.9999 2.40819 30.9466 1.35486 29.6666 1.35486Z" fill="#FFC107" />
                                                    <path d="M16 13.3548C15.988 13.3548 15.9747 13.3548 15.9627 13.3548C15.6613 13.3428 15.3813 13.1961 15.2 12.9548L13.5 10.6882H10.3333C9.04667 10.6882 8 9.64148 8 8.35482V2.35482C8 1.06815 9.04667 0.0214844 10.3333 0.0214844H21.6667C22.9533 0.0214844 24 1.06815 24 2.35482V8.35482C24 9.64148 22.9533 10.6882 21.6667 10.6882H18.7867L16.752 13.0135C16.5627 13.2308 16.288 13.3548 16 13.3548Z" fill="#03A9F4" />
                                                    <path d="M5.33268 22.6884C6.80544 22.6884 7.99935 21.4945 7.99935 20.0218C7.99935 18.549 6.80544 17.3551 5.33268 17.3551C3.85992 17.3551 2.66602 18.549 2.66602 20.0218C2.66602 21.4945 3.85992 22.6884 5.33268 22.6884Z" fill="#4CAF50" />
                                                    <path d="M8.89333 24.5551C7.54667 25.5684 6.66667 27.1951 6.66667 29.0217V29.3551H1C0.453333 29.3551 0 28.9017 0 28.3551V27.6884C0 25.6617 1.64 24.0217 3.66667 24.0217H7C7.69333 24.0217 8.34667 24.2217 8.89333 24.5551Z" fill="#4CAF50" />
                                                    <path d="M26.6667 22.6884C28.1394 22.6884 29.3333 21.4945 29.3333 20.0218C29.3333 18.549 28.1394 17.3551 26.6667 17.3551C25.1939 17.3551 24 18.549 24 20.0218C24 21.4945 25.1939 22.6884 26.6667 22.6884Z" fill="#4CAF50" />
                                                    <path d="M32.0008 27.6884V28.3551C32.0008 28.9017 31.5474 29.3551 31.0008 29.3551H25.3341V29.0217C25.3341 27.1951 24.4541 25.5684 23.1074 24.5551C23.6541 24.2217 24.3074 24.0217 25.0008 24.0217H28.3341C30.3608 24.0217 32.0008 25.6617 32.0008 27.6884Z" fill="#4CAF50" />
                                                    <path d="M16 23.3549C18.2091 23.3549 20 21.564 20 19.3549C20 17.1457 18.2091 15.3549 16 15.3549C13.7909 15.3549 12 17.1457 12 19.3549C12 21.564 13.7909 23.3549 16 23.3549Z" fill="#2196F3" />
                                                    <path d="M19.666 25.3549H12.3327C10.31 25.3549 8.66602 26.9989 8.66602 29.0215V31.0215C8.66602 31.5735 9.11402 32.0215 9.66602 32.0215H22.3327C22.8847 32.0215 23.3327 31.5735 23.3327 31.0215V29.0215C23.3327 26.9989 21.6887 25.3549 19.666 25.3549Z" fill="#2196F3" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_1871_213307">
                                                        <rect width="32" height="32" fill="white" transform="translate(0 0.0214844)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <a class="category-forum">
                                            Danh mục 1
                                        </a>
                                        <div class="publish-time">
                                            June 15, 2021 at 7:36 am
                                        </div>
                                    </div>
                                    <div class="entry-middle">
                                        <img src="~/happys/img/img-author.png" />
                                        <img src="~/happys/img/img-author.png" />
                                        <img src="~/happys/img/img-author.png" />
                                    </div>
                                    <div class="entry-right">
                                        <div class="count-comment">
                                            <div class="icon-comment">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                                    <g clip-path="url(#clip0_1871_213322)">
                                                        <path d="M11.0073 21.7144C10.571 21.7144 10.1319 21.5604 9.78175 21.2497L6.34608 18.3557H3.66667C1.6445 18.3557 3.83036e-07 16.7112 3.83036e-07 14.6891V3.68815C-0.000916284 1.66598 1.64358 0.0214844 3.66575 0.0214844H18.3324C20.3546 0.0214844 21.9991 1.66598 21.9991 3.68815V14.6882C21.9991 16.7103 20.3546 18.3548 18.3324 18.3548H15.7181L12.1917 21.2698C11.8598 21.565 11.4354 21.7135 11.0064 21.7135L11.0073 21.7144ZM3.66575 1.85482C2.65467 1.85482 1.83242 2.67707 1.83242 3.68815V14.6882C1.83242 15.6992 2.65467 16.5215 3.66575 16.5215H6.68067C6.897 16.5215 7.106 16.5976 7.27192 16.7369L10.9817 19.8627L14.8042 16.7314C14.9692 16.5957 15.1754 16.5215 15.389 16.5215H18.3333C19.3444 16.5215 20.1667 15.6992 20.1667 14.6882V3.68815C20.1667 2.67707 19.3444 1.85482 18.3333 1.85482H3.66575Z" fill="black" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_1871_213322">
                                                            <rect width="22" height="22" fill="white" transform="translate(0 0.0214844)" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                            120
                                        </div>
                                        <div class="count-like">
                                            <div class="icon-like">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                                    <g clip-path="url(#clip0_1871_213326)">
                                                        <path d="M20.8753 7.09909C20.4454 6.60373 19.9142 6.20651 19.3174 5.93433C18.7207 5.66215 18.0725 5.52137 17.4167 5.5215H13.7601L14.0681 3.65059C14.1771 2.99174 14.0456 2.31568 13.6976 1.7457C13.3497 1.17572 12.8084 0.749808 12.1726 0.545647C11.5368 0.341486 10.8488 0.372681 10.234 0.63354C9.61927 0.8944 9.11879 1.36754 8.82383 1.96667L7.06933 5.5215H4.58333C3.3682 5.52296 2.20326 6.00631 1.34403 6.86554C0.484808 7.72477 0.00145554 8.88971 0 10.1048L0 14.6882C0.00145554 15.9033 0.484808 17.0682 1.34403 17.9275C2.20326 18.7867 3.3682 19.2701 4.58333 19.2715H16.775C17.8782 19.267 18.9431 18.8666 19.776 18.1432C20.6089 17.4198 21.1544 16.4215 21.3134 15.3298L21.9597 10.7465C22.0507 10.0963 22.001 9.43422 21.8139 8.80494C21.6268 8.17566 21.3067 7.59392 20.8753 7.09909ZM1.83333 14.6882V10.1048C1.83333 9.37549 2.12306 8.67602 2.63879 8.16029C3.15451 7.64457 3.85399 7.35484 4.58333 7.35484H6.41667V17.4382H4.58333C3.85399 17.4382 3.15451 17.1484 2.63879 16.6327C2.12306 16.117 1.83333 15.4175 1.83333 14.6882ZM20.1401 10.4889L19.4929 15.0723C19.3983 15.7267 19.0719 16.3255 18.5731 16.7597C18.0743 17.1939 17.4363 17.4347 16.775 17.4382H8.25V7.111C8.33639 7.03574 8.4079 6.94495 8.46083 6.84334L10.4674 2.77792C10.5427 2.64219 10.649 2.52625 10.7778 2.43964C10.9066 2.35302 11.0541 2.2982 11.2082 2.27968C11.3623 2.26115 11.5185 2.27946 11.6642 2.33309C11.8098 2.38672 11.9406 2.47414 12.0459 2.58817C12.136 2.6929 12.2018 2.81621 12.2387 2.94931C12.2757 3.08241 12.2827 3.22202 12.2595 3.35817L11.7755 6.2915C11.7543 6.42257 11.7617 6.55669 11.7974 6.68458C11.8331 6.81246 11.8962 6.93107 11.9822 7.0322C12.0683 7.13332 12.1752 7.21455 12.2958 7.27026C12.4163 7.32596 12.5475 7.35482 12.6803 7.35484H17.4167C17.8103 7.35478 18.1993 7.43923 18.5575 7.60247C18.9157 7.76571 19.2346 8.00394 19.4928 8.30105C19.751 8.59817 19.9424 8.94725 20.0541 9.32469C20.1657 9.70214 20.1951 10.0992 20.1401 10.4889Z" fill="black" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_1871_213326">
                                                            <rect width="22" height="22" fill="white" transform="translate(0 0.0214844)" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </div>
                                            120
                                        </div>
                                        <div class="count-watch">
                                            <div class="icon-watch">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                                                    <path d="M21.8358 10.2707C21.031 8.51073 17.8749 2.77148 10.9999 2.77148C4.12488 2.77148 0.968799 8.51073 0.163965 10.2707C0.0559254 10.5066 0 10.763 0 11.0224C0 11.2818 0.0559254 11.5382 0.163965 11.7741C0.968799 13.5322 4.12488 19.2715 10.9999 19.2715C17.8749 19.2715 21.031 13.5322 21.8358 11.7722C21.9436 11.5366 21.9994 11.2806 21.9994 11.0215C21.9994 10.7624 21.9436 10.5063 21.8358 10.2707ZM10.9999 17.4382C5.21847 17.4382 2.52072 12.5193 1.83322 11.0316C2.52072 9.52365 5.21847 4.60482 10.9999 4.60482C16.7675 4.60482 19.4662 9.50257 20.1665 11.0215C19.4662 12.5404 16.7675 17.4382 10.9999 17.4382Z" fill="black" />
                                                    <path d="M10.9994 6.43811C10.0929 6.43811 9.20671 6.70692 8.45299 7.21054C7.69926 7.71416 7.1118 8.42998 6.7649 9.26748C6.418 10.105 6.32724 11.0265 6.50409 11.9156C6.68093 12.8047 7.11745 13.6214 7.75844 14.2624C8.39944 14.9033 9.21611 15.3399 10.1052 15.5167C10.9943 15.6936 11.9158 15.6028 12.7533 15.2559C13.5908 14.909 14.3066 14.3215 14.8103 13.5678C15.3139 12.8141 15.5827 11.9279 15.5827 11.0214C15.5812 9.80632 15.0979 8.64137 14.2386 7.78215C13.3794 6.92292 12.2145 6.43957 10.9994 6.43811ZM10.9994 13.7714C10.4555 13.7714 9.92377 13.6102 9.47153 13.308C9.0193 13.0058 8.66682 12.5763 8.45868 12.0738C8.25054 11.5713 8.19608 11.0184 8.30219 10.4849C8.4083 9.9515 8.67021 9.46149 9.05481 9.0769C9.4394 8.69231 9.9294 8.43039 10.4629 8.32428C10.9963 8.21817 11.5492 8.27263 12.0517 8.48077C12.5542 8.68892 12.9837 9.04139 13.2859 9.49363C13.5881 9.94586 13.7494 10.4775 13.7494 11.0214C13.7494 11.7508 13.4596 12.4503 12.9439 12.966C12.4282 13.4817 11.7287 13.7714 10.9994 13.7714Z" fill="black" />
                                                </svg>
                                            </div>
                                            120
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                @*   <div class="text-center wow fadeInUp" data-wow-delay="0.4s">
                <a href="/#" class="question_text">
                Contact us and we’ll get back to you<br>
                as soon as we can.
                </a>
                </div> *@
                <a href="//dien-dan" class="btn btnHS2">Xem thêm</a>
            </div>
        </div>
        <a href="/dien-dan" class="btn btnHS2">Xem thêm</a>
    </div>
    
</section>
<section class="doc_psychologist_area">
    <div class="container">
        <div class="doc_psychologist_inner">
            <div class="psychologist-header">
               CÁN BỘ TƯ VẤN NỔI BẬT
            </div>
            <div class="psychologist-body counserlors">
                <div class="psychologist-detail shadow-sm wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="psychologist-detail-content">
                        <div class="anh">
                            <img class="one" src="happys/img/Rectangle 873.png" alt="">
                        </div>
                        <div class="detail-content">
                            <div class="psychologist">
                                <div class="psychologist-name">
                                    Trung Tran
                                </div>
                                <div class="psychologist-rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M15.8256 6.7559L12.3218 10.1714L13.1493 14.9954C13.1853 15.2063 13.0986 15.4195 12.9254 15.5455C12.8275 15.617 12.7111 15.653 12.5946 15.653C12.5052 15.653 12.4152 15.6316 12.3331 15.5883L8.0007 13.3107L3.66889 15.5877C3.47989 15.6878 3.24982 15.6715 3.07657 15.545C2.90332 15.419 2.8167 15.2058 2.8527 14.9948L3.68014 10.1708L0.175761 6.7559C0.0227611 6.60627 -0.0329264 6.3824 0.0334486 6.17934C0.0998236 5.97627 0.275886 5.82721 0.487949 5.79627L5.33051 5.09315L7.49614 0.704522C7.6857 0.320335 8.3157 0.320335 8.50526 0.704522L10.6709 5.09315L15.5134 5.79627C15.7255 5.82721 15.9016 5.97571 15.9679 6.17934C16.0343 6.38296 15.9786 6.60571 15.8256 6.7559Z" fill="#FFC133" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M15.8256 6.7559L12.3218 10.1714L13.1493 14.9954C13.1853 15.2063 13.0986 15.4195 12.9254 15.5455C12.8275 15.617 12.7111 15.653 12.5946 15.653C12.5052 15.653 12.4152 15.6316 12.3331 15.5883L8.0007 13.3107L3.66889 15.5877C3.47989 15.6878 3.24982 15.6715 3.07657 15.545C2.90332 15.419 2.8167 15.2058 2.8527 14.9948L3.68014 10.1708L0.175761 6.7559C0.0227611 6.60627 -0.0329264 6.3824 0.0334486 6.17934C0.0998236 5.97627 0.275886 5.82721 0.487949 5.79627L5.33051 5.09315L7.49614 0.704522C7.6857 0.320335 8.3157 0.320335 8.50526 0.704522L10.6709 5.09315L15.5134 5.79627C15.7255 5.82721 15.9016 5.97571 15.9679 6.17934C16.0343 6.38296 15.9786 6.60571 15.8256 6.7559Z" fill="#FFC133" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M15.8256 6.7559L12.3218 10.1714L13.1493 14.9954C13.1853 15.2063 13.0986 15.4195 12.9254 15.5455C12.8275 15.617 12.7111 15.653 12.5946 15.653C12.5052 15.653 12.4152 15.6316 12.3331 15.5883L8.0007 13.3107L3.66889 15.5877C3.47989 15.6878 3.24982 15.6715 3.07657 15.545C2.90332 15.419 2.8167 15.2058 2.8527 14.9948L3.68014 10.1708L0.175761 6.7559C0.0227611 6.60627 -0.0329264 6.3824 0.0334486 6.17934C0.0998236 5.97627 0.275886 5.82721 0.487949 5.79627L5.33051 5.09315L7.49614 0.704522C7.6857 0.320335 8.3157 0.320335 8.50526 0.704522L10.6709 5.09315L15.5134 5.79627C15.7255 5.82721 15.9016 5.97571 15.9679 6.17934C16.0343 6.38296 15.9786 6.60571 15.8256 6.7559Z" fill="#FFC133" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M15.8256 6.7559L12.3218 10.1714L13.1493 14.9954C13.1853 15.2063 13.0986 15.4195 12.9254 15.5455C12.8275 15.617 12.7111 15.653 12.5946 15.653C12.5052 15.653 12.4152 15.6316 12.3331 15.5883L8.0007 13.3107L3.66889 15.5877C3.47989 15.6878 3.24982 15.6715 3.07657 15.545C2.90332 15.419 2.8167 15.2058 2.8527 14.9948L3.68014 10.1708L0.175761 6.7559C0.0227611 6.60627 -0.0329264 6.3824 0.0334486 6.17934C0.0998236 5.97627 0.275886 5.82721 0.487949 5.79627L5.33051 5.09315L7.49614 0.704522C7.6857 0.320335 8.3157 0.320335 8.50526 0.704522L10.6709 5.09315L15.5134 5.79627C15.7255 5.82721 15.9016 5.97571 15.9679 6.17934C16.0343 6.38296 15.9786 6.60571 15.8256 6.7559Z" fill="#FFC133" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M15.8256 6.7559L12.3218 10.1714L13.1493 14.9954C13.1853 15.2063 13.0986 15.4195 12.9254 15.5455C12.8275 15.617 12.7111 15.653 12.5946 15.653C12.5052 15.653 12.4152 15.6316 12.3331 15.5883L8.0007 13.3107L3.66889 15.5877C3.47989 15.6878 3.24982 15.6715 3.07657 15.545C2.90332 15.419 2.8167 15.2058 2.8527 14.9948L3.68014 10.1708L0.175761 6.7559C0.0227611 6.60627 -0.0329264 6.3824 0.0334486 6.17934C0.0998236 5.97627 0.275886 5.82721 0.487949 5.79627L5.33051 5.09315L7.49614 0.704522C7.6857 0.320335 8.3157 0.320335 8.50526 0.704522L10.6709 5.09315L15.5134 5.79627C15.7255 5.82721 15.9016 5.97571 15.9679 6.17934C16.0343 6.38296 15.9786 6.60571 15.8256 6.7559Z" fill="#FFC133" />
                                    </svg>
                                </div>
                            </div>
                            <label class="psychologist-hospital psychologist-width">
                                Chuyên gia tư vấn tâm lý
                            </label>
                            <label class="psychologist-hospital">
                                Viện Sức khỏe Tâm thần - Bệnh viện Bạch Mai
                            </label>
                            <div class="psychologist-overview">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an u
                            </div>
                        </div>
                    </div>
                    <div class="info-footer">
                        <div class="interact">
                            <div class="interact-count">
                                <div class="number">
                                    1000
                                </div>
                                <div class="count-text">
                                   Tương tác
                                </div>
                            </div>
                            <div>&verbar;</div>
                            <div class="interact-count">
                                <div class="number">
                                    1000
                                </div>
                                <div class="count-text">
                                    Đặt lịch hẹn
                                </div>
                            </div>
                        </div>
                        <div class="click-option">
                            <button class="btn btn-primary inbox btn-lg shadow-lg rounded-pill">Đặt lịch hẹn</button>
                        </div>
                    </div>
                </div>
                <div class="psychologist-detail shadow-sm wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="psychologist-detail-content">
                        <div class="anh">
                            <img class="one" src="happys/img/Rectangle 873.png" alt="">
                        </div>
                        <div class="detail-content">
                            <div class="psychologist">
                                <div class="psychologist-name">
                                    Trung Tran
                                </div>
                                <div class="psychologist-rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M15.8256 6.7559L12.3218 10.1714L13.1493 14.9954C13.1853 15.2063 13.0986 15.4195 12.9254 15.5455C12.8275 15.617 12.7111 15.653 12.5946 15.653C12.5052 15.653 12.4152 15.6316 12.3331 15.5883L8.0007 13.3107L3.66889 15.5877C3.47989 15.6878 3.24982 15.6715 3.07657 15.545C2.90332 15.419 2.8167 15.2058 2.8527 14.9948L3.68014 10.1708L0.175761 6.7559C0.0227611 6.60627 -0.0329264 6.3824 0.0334486 6.17934C0.0998236 5.97627 0.275886 5.82721 0.487949 5.79627L5.33051 5.09315L7.49614 0.704522C7.6857 0.320335 8.3157 0.320335 8.50526 0.704522L10.6709 5.09315L15.5134 5.79627C15.7255 5.82721 15.9016 5.97571 15.9679 6.17934C16.0343 6.38296 15.9786 6.60571 15.8256 6.7559Z" fill="#FFC133" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M15.8256 6.7559L12.3218 10.1714L13.1493 14.9954C13.1853 15.2063 13.0986 15.4195 12.9254 15.5455C12.8275 15.617 12.7111 15.653 12.5946 15.653C12.5052 15.653 12.4152 15.6316 12.3331 15.5883L8.0007 13.3107L3.66889 15.5877C3.47989 15.6878 3.24982 15.6715 3.07657 15.545C2.90332 15.419 2.8167 15.2058 2.8527 14.9948L3.68014 10.1708L0.175761 6.7559C0.0227611 6.60627 -0.0329264 6.3824 0.0334486 6.17934C0.0998236 5.97627 0.275886 5.82721 0.487949 5.79627L5.33051 5.09315L7.49614 0.704522C7.6857 0.320335 8.3157 0.320335 8.50526 0.704522L10.6709 5.09315L15.5134 5.79627C15.7255 5.82721 15.9016 5.97571 15.9679 6.17934C16.0343 6.38296 15.9786 6.60571 15.8256 6.7559Z" fill="#FFC133" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M15.8256 6.7559L12.3218 10.1714L13.1493 14.9954C13.1853 15.2063 13.0986 15.4195 12.9254 15.5455C12.8275 15.617 12.7111 15.653 12.5946 15.653C12.5052 15.653 12.4152 15.6316 12.3331 15.5883L8.0007 13.3107L3.66889 15.5877C3.47989 15.6878 3.24982 15.6715 3.07657 15.545C2.90332 15.419 2.8167 15.2058 2.8527 14.9948L3.68014 10.1708L0.175761 6.7559C0.0227611 6.60627 -0.0329264 6.3824 0.0334486 6.17934C0.0998236 5.97627 0.275886 5.82721 0.487949 5.79627L5.33051 5.09315L7.49614 0.704522C7.6857 0.320335 8.3157 0.320335 8.50526 0.704522L10.6709 5.09315L15.5134 5.79627C15.7255 5.82721 15.9016 5.97571 15.9679 6.17934C16.0343 6.38296 15.9786 6.60571 15.8256 6.7559Z" fill="#FFC133" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M15.8256 6.7559L12.3218 10.1714L13.1493 14.9954C13.1853 15.2063 13.0986 15.4195 12.9254 15.5455C12.8275 15.617 12.7111 15.653 12.5946 15.653C12.5052 15.653 12.4152 15.6316 12.3331 15.5883L8.0007 13.3107L3.66889 15.5877C3.47989 15.6878 3.24982 15.6715 3.07657 15.545C2.90332 15.419 2.8167 15.2058 2.8527 14.9948L3.68014 10.1708L0.175761 6.7559C0.0227611 6.60627 -0.0329264 6.3824 0.0334486 6.17934C0.0998236 5.97627 0.275886 5.82721 0.487949 5.79627L5.33051 5.09315L7.49614 0.704522C7.6857 0.320335 8.3157 0.320335 8.50526 0.704522L10.6709 5.09315L15.5134 5.79627C15.7255 5.82721 15.9016 5.97571 15.9679 6.17934C16.0343 6.38296 15.9786 6.60571 15.8256 6.7559Z" fill="#FFC133" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M15.8256 6.7559L12.3218 10.1714L13.1493 14.9954C13.1853 15.2063 13.0986 15.4195 12.9254 15.5455C12.8275 15.617 12.7111 15.653 12.5946 15.653C12.5052 15.653 12.4152 15.6316 12.3331 15.5883L8.0007 13.3107L3.66889 15.5877C3.47989 15.6878 3.24982 15.6715 3.07657 15.545C2.90332 15.419 2.8167 15.2058 2.8527 14.9948L3.68014 10.1708L0.175761 6.7559C0.0227611 6.60627 -0.0329264 6.3824 0.0334486 6.17934C0.0998236 5.97627 0.275886 5.82721 0.487949 5.79627L5.33051 5.09315L7.49614 0.704522C7.6857 0.320335 8.3157 0.320335 8.50526 0.704522L10.6709 5.09315L15.5134 5.79627C15.7255 5.82721 15.9016 5.97571 15.9679 6.17934C16.0343 6.38296 15.9786 6.60571 15.8256 6.7559Z" fill="#FFC133" />
                                    </svg>
                                </div>
                            </div>
                            <label class="psychologist-hospital psychologist-width">
                                Chuyên gia tư vấn tâm lý
                            </label>
                            <label class="psychologist-hospital">
                                Viện Sức khỏe Tâm thần - Bệnh viện Bạch Mai
                            </label>
                            <div class="psychologist-overview">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an u
                            </div>
                        </div>
                    </div>
                    <div class="info-footer">
                        <div class="interact">
                            <div class="interact-count">
                                <div class="number">
                                    1000
                                </div>
                                <div class="count-text">
                                    Tương tác
                                </div>
                            </div>
                            <div>&verbar;</div>
                            <div class="interact-count">
                                <div class="number">
                                    1000
                                </div>
                                <div class="count-text">
                                    Đặt lịch hẹn
                                </div>
                            </div>
                        </div>
                        <div class="click-option">
                            <button class="btn btn-primary inbox btn-lg shadow-lg rounded-pill">Đặt lịch hẹn</button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/danh-sach-tu-van-vien" class="btn btnHS2">Xem thêm</a>
        </div>
    </div>
</section>
@* <section class="doc_subscribe_area">
    <div class="fluid-container">
        <div class="doc_subscribe_inner">
              <img class="one" src="happys/img/new/subscribe_shap.png" alt="">
            <img class="two" src="happys/img/new/subscribe_shap_two.png" alt="">
            <div class="container">
                <div class="row" style="align-items: center;">
                    <div class="text wow fadeInLeft col-6" data-wow-delay="0.2s">
                        <h2>Đăng ký để nhận tin</h2>
                        <p>Bạn muốn hiểu rõ hơn về tình trạng sức khỏe tinh thần hay còn thắc mắc chưa được giải đáp. Hay để lại thông tin Email của bạn cho chúng tôi. Chúng tôi sẽ liên hệ lại với bạn </p>
                    </div>
                    <form action="#" class="doc_subscribe_form wow fadeInRight mailchimp col-6" data-wow-delay="0.4s"
                          method="post">
                        <div class="form-group mb-0">
                            <div class="input-fill">
                                <input type="email" name="EMAIL" id="email" class="memail"
                                       placeholder="Nhập email của bạn">
                            </div>
                            <button type="submit" class="btn btnHS2">Gửi thông tin</button>
                            <p class="mchimp-errmessage" style="display: none;"></p>
                            <p class="mchimp-sucmessage" style="display: none;"></p>
                        </div>
                        <ul class="list-unstyled mt-4">
                            <li class="check_box_happys">
                                <label class="checkbox_container d-flex flex-row align-items-center m-0">
                                    Tôi đồng ý với Điều khoản & Điều kiện của HappyS
                                    <input type="checkbox" />
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section> *@
<section class="doc_featured_news_area">
    <div class="container">
        <div class="doc_featured_news_inner">
            <div class="featured-news-title">
                Tin tức nổi bật
            </div>

                <div class="featured-news-detail">
                    <div class="featured-news-first shadow-sm wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        
                        <div class="featured-news-body">
                        <div class="photo-post">
                            <img src="/happys/img/blog-grid/test1.jpg" alt="">
                        </div>
                            <div class="post_name" href="/#">
                                Mother telling a story to two little daughter in the home garden 70
                            </div>
                            <a class="post-overview">
                                Abuse is always wrong and it can be very difficult to talk about but you’re never alone. If you’re worried about abuse
                            </a>
                  
                        </div>
                    <div class="media post_author">
                        <div class="round_img">
                            <img src="/happys/img/blog-grid/author_1.jpg" alt="">
                        </div>
                        <div class="media-body author_text">
                            <b>Trung Tran</b>
                        </div>
                        <div class="post-publish-time">Sep 14, 2020 at 7:36 am</div>
                    </div>
                    </div>
                    <div class="featured-news-first shadow-sm wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="photo-post">
                            <img src="/happys/img/blog-grid/test1.jpg" alt="">
                        </div>
                        <div class="featured-news-body">
                            <div class="post_name" href="/#">
                                Mother telling a story to two little daughter in the home garden 70
                            </div>
                            <a class="post-overview">
                                Abuse is always wrong and it can be very difficult to talk about but you’re never alone. If you’re worried about abuse
                            </a>
                            <div class="media post_author">
                                <div class="round_img">
                                    <img src="/happys/img/blog-grid/author_1.jpg" alt="">
                                </div>
                                <div class="media-body author_text">
                                    <b>Trung Tran</b>
                                </div>
                                <div class="post-publish-time">Sep 14, 2020 at 7:36 am</div>
                            </div>
                        </div>
                    </div>
                    <div class="featured-news-first shadow-sm wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="photo-post">
                            <img src="/happys/img/blog-grid/test1.jpg" alt="">
                        </div>
                        <div class="featured-news-body">
                            <div class="post_name" href="/#">
                                Mother telling a story to two little daughter in the home garden 70
                            </div>
                            <a class="post-overview">
                                Abuse is always wrong and it can be very difficult to talk about but you’re never alone. If you’re worried about abuse
                            </a>
                            <div class="media post_author">
                                <div class="round_img">
                                    <img src="/happys/img/blog-grid/author_1.jpg" alt="">
                                </div>
                                <div class="media-body author_text">
                                    <b>Trung Tran</b>
                                </div>
                                <div class="post-publish-time">Sep 14, 2020 at 7:36 am</div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>

</section>

