@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link rel="stylesheet" href="/happys/css/footer/footer.css">
<footer class="doc_footer_area">
    <div class="doc_footer_top bg-transparent footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <div class="f_widget doc_about_widget wow fadeInUp" data-wow-delay="0.2s">
                        <a href="/#">
                            @*     <img src="happys/img/logo/logo-w.png" class="first_logo sticky_logo" srcset="happys/img/logo/logo-w.png 2x" alt=""> *@
                            <img style="margin-bottom: 28px;" src="happys/img/logo/logo-2-b.png" class="white_logo main_logo" srcset="happys/img/logo/logo-2-b.png" alt="">
                        </a>
                        @* <span class="text">
                            HappyS được tạo ra để giải quyết vấn đề về sức khỏe tinh thần cho thanh thiếu niên. Các bạn có thể tham gia phiếu sàng lọc để nắm được tình hình bản thân và từ đó có phương án như liên hệ và đặt lịch tư vấn với cán bộ tư vấn. Từ đó sẽ có những phương án để giải quyết các vấn đề của thanh thiếu niên
                        </span> *@
                        <ul class="list-unstyled">
                            <li>
                                <a class="icon" href="/#">
                                    <i class="social_facebook"></i>
                                </a>
                            </li>
                            @*           <li><a class="icon" href="/#"><i class="social_twitter"></i></a></li>
                            <li><a class="icon" href="/#"><i class="social_vimeo"></i></a></li>
                            <li><a class="icon" href="/#"><i class="social_linkedin"></i></a></li> *@
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 space">
                    <div class="f_widget doc_service_list_widget pl-10 wow fadeInUp" data-wow-delay="0.3s">
                        <h3 class="f_title_two">DANH MỤC</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/ve-chung-toi">Về Chúng Tôi</a>
                            </li>
                            <li>
                                <a href="/trac-nghiem-suc-khoe-tam-than">Trắc nghiệm sức khỏe tâm thần</a>
                            </li>
                            <li>
                                <a href="/dat-lich-tu-van-vien">Đặt Lịch Tư Vấn</a>
                            </li>
                            <li>
                                <a href="/dien-dan">Diễn Đàn</a>
                            </li>
                            <li>
                                <a href="/tn-tuc">Tin Tức</a>
                            </li>
                            <li>
                                <a href="/thu-vien">Thư Viện</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 space">
                    <div class="f_widget doc_service_list_widget wow fadeInUp" data-wow-delay="0.4s">
                        <h3 class="f_title_two">THÔNG TIN</h3>
                        <ul class="list-unstyled">
                            @*                             <li><a href="/#">Trợ Giúp</a></li> *@
                            <li>
                                <a href="/chinh-sach-bao-mat">Điều Khoản Chính Sách</a>
                            </li>
                            @*                             <li><a href="/#">Báo Cáo</a></li>
                            <li><a href="/#">Hướng Dẫn</a></li>
                            <li><a href="/#">Kiến Thức</a></li> *@
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 space">
                    <div class="f_widget doc_service_list_widget pl-20 wow fadeInUp" data-wow-delay="0.5s">
                        <h3 class="f_title_two">LIÊN HỆ</h3>
                        <ul class="list-unstyled">
                            @*                             <li><a href="/#"><img src="happys/img/icon/address.svg" />Địa chỉ: Số 123 Cầu Giấy, Hà Nội</a></li>
                            <li><a href="/tel:1900 1000"><img src="happys/img/icon/call.svg" />Hotline: 1900 1000</a></li> *@
                            <li>
                                <a href="/#"><img src="happys/img/icon/gmail.svg"/>Email: HappyS@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="doc_footer_bottom footerTop" style="background-color: black">
        <div class="container d-flex justify-content-between">
            @*            <ul class="doc_footer_menu wow fadeInUp menu-none" data-wow-delay="0.2s">
                <li><a class="list" href="/dien-dan">Diễn đàn</a></li>
                <li><a class="list" href="/tin-tuc">Tin tức mới nhất</a></li>

            </ul> *@
            <p class="wow fadeInUp" data-wow-delay="0.3s">
                © 2023 All Right Reserved Design
                <span>by HappyS</span>
            </p>
        </div>
    </div>
</footer>