@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<style>
    .list-created-forum-post {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
</style>
<div class="tab-pane fade" id="createdForumPostHistory" role="tabpanel"
     aria-labelledby="createdForumPostHistory-tab">
    <div class="input-group search_forum">
        <input id="searchCreatedForumPost" type="text" class="form-control" placeholder="Tên bài đăng"
               aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append" id="btnSearchCreatedForumPost">
            <button class="btn btn-outline-secondary" type="button">
                <i class="icon_search"></i>
            </button>
        </div>
    </div>
    <h2>Lịch sử bài đăng</h2>
    <div class="forum_l_inner">
        <div  class="list-created-forum-post row forum_head d-flex justify-content-between">
            
        </div>
        <div class="forum_body">
            <ul id="createdForumPost" class="navbar-nav topic_list">
                <li>
                    <div class="media">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <partial name="HappySmile/FrontEnd/_paginate" />

</div>
<script>
    var id = "@ViewBag.id"
</script>
<script src="~/happys/js/page/customerprofile/created_forum_post_history.js" asp-append-version="true"></script>


