@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link href="~/happys/css/user-profile/message.css" rel="stylesheet" />
<style>
    #kt_chatMessageSignalR_enduser {
        max-height: 650px !important;
        min-height: 600px;
        overflow-y: scroll;
    }
</style>
<div class="tab-pane fade" id="message" role="tabpanel"
     aria-labelledby="message-tab">
    <div class="row chat-list-conversation-end-user">
        <div class="col-8">
            <span class="message-text-title">Tin nhắn</span>
            <div class="list-conversation-parent" id="list-conversation-end-user">
            </div>
        </div>
        <div class="col-4">
            <div>
                <span class="message-text-title">Cán bộ tư vấn</span>
                <div class="couselor-end-user" id="couselor-end-user-id">
                </div>
            </div>
            <div class="phone-book">
                <span class="message-text-title">Danh bạ</span>
                <div id="phone-book-end-user">
                </div>
            </div>
        </div>
    </div>
    <div class="card h-100 d-none" id="listmessage">
        @*User*@
        <div class="border-bottom d-flex head-listmessage">
            <div style="margin-right: 15px">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none" class="back-message">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0545 5.84596C12.324 6.0616 12.3677 6.4549 12.1521 6.72444L9.1311 10.5007L12.1521 14.2769C12.3677 14.5464 12.324 14.9398 12.0545 15.1554C11.7849 15.371 11.3916 15.3273 11.176 15.0578L7.84266 10.8911C7.66005 10.6628 7.66005 10.3385 7.84266 10.1102L11.176 5.94357C11.3916 5.67403 11.7849 5.63033 12.0545 5.84596Z" fill="#1B1E28" />
                </svg>
                <img src="~/happys/svg/rectangle 888.svg" id="imageUser" class="rounded-circle" style="width: 48px; height: 48px; object-fit: cover;}" />
            </div>
            <div class="d-flex flex-column" style="text-align: left" id="checkActive-endUser">
                <span id="userName" class="user-name-style">Trung Trần</span>
                @*<span class="text-online">Không trực tuyến</span>*@
            </div>
        </div>
        @*listMessage*@
        <div class="kt_chatMessageSignalR card-body body-chat" id="kt_chatMessageSignalR_enduser">
        </div>
        @*SendMessage*@
        <div class="card-footer d-flex">
            <input type="text" class="form-control text-chat" id="chatMessage" placeholder="Nhập tin nhắn"
                   ata-kt-autosize="true" />
            <button class="btn btn-primary d-flex button-send " type="button" data-kt-element="send" id="btnSendMessage">
                Gửi <img src="~/happys/svg/send.svg" />
            </button>
        </div>
    </div>
</div>
<script>
    var accountId = @ViewBag.AccountId;
</script>
<script src="~/happys/js/page/_chat_user.js" asp-append-version="true"></script>
