@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/happys/css/detail-post.css" rel="stylesheet" />
<section class="blog_area">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-9 col-12 p-0">
                <div class="detail-post-parent" id="postDetail">


                    @*<div class="hashtag">
                    <div class="hashtag-icon">
                    </div>
                    <div class="hashtag-tag">
                    <span class="hashtag-content">Swagger</span>
                    </div>
                    </div>*@
                </div>
            </div>
            @*<div class="post-category col-lg-3 d">

                <div class="post-sidebar">
                    <div class="widget categorie_widget" id="list-category">
                        <h4 class="p-3 post-category-app">Danh mục bài viết</h4>
                    </div>
                    <div class="widget tag_widget">
                        <h4 class="c_head">Hastag</h4>
                        <ul class="list-unstyled w_tag_list" id="ul-list-tag">
                        </ul>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>

<script src="~/happys/js/page/detail-post-WV.js" asp-append-version="true"></script>
