@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/happys/css/list-library.css" rel="stylesheet" />
<section class="doc_blog_grid_area sec_pad layout-list">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-9 col-12 p-0" id="result-post">
                <div class="row m-0 list-post" id="list-post">
                </div>
                <div class="col-auto">
                    <nav class="mt-32px mb-32px" aria-label="Posts list pagination">
                        <ul class="pagination pxp-pagination" id="pagination-post">
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="post-category col-lg-3 d">
                <div class="post-sidebar">
                    <div class="widget categorie_widget" id="list-category">
                        <h4 class="c_head">Danh mục thư viện</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/happys/js/page/list-library-by-categorywv.js"></script>