@{
    Layout = null;
}
<link href="~/happys/css/list-post.css" rel="stylesheet" />
<div class="body_wrapper">
    <partial name="HappySmile/FrontEnd/_Header-User" />
    <partial name="HappySmile/FrontEnd/_Banner_Forum_Breadcumb" />
    <partial name="HappySmile/FrontEnd/_Body_List_Post_By_Tag" />
    <partial name="HappySmile/FrontEnd/_Footer" />
</div>
<script src="~/happys/js/page/list-post-by-tag.js" asp-append-version="true"></script>
