@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link href="~/happys/css/detail_forum.css" rel="stylesheet" asp-append-version="true" />
<div class="body_wrapper">
    <partial name="HappySmile/FrontEnd/_Header-User" />
    <partial name="HappySmile/FrontEnd/_Banner_Forum_Breadcumb" />
    <partial name="HappySmile/FrontEnd/_Body_Detail_Forum" />
    <partial name="HappySmile/FrontEnd/_Footer" />
</div>
<script src="~/happys/js/page/detail_forum.js" asp-append-version="true"></script>