@{
    Layout = null;
}
<div class="body_wrapper">
    <partial name="HappySmile/FrontEnd/_Header-User" />
    <partial name="HappySmile/FrontEnd/_Banner_Forum_Breadcumb" />
    <partial name="HappySmile/FrontEnd/_Body_AboutUs" />
    <partial name="HappySmile/FrontEnd/_Footer" />
</div>