@{
    Layout = null;
}
<link rel="stylesheet" href="~/happys/css/result_survey.css" asp-append-version="true" />
<div class="body_wrapper">
    <partial name="HappySmile/FrontEnd/_Body_Share_Result_Survey" />
</div>
<script src="~/happys/js/page/result_survey.js" asp-append-version="true"></script>
