@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<style>
    .page_breadcrumb {
        display: none;
    }

    .forum-user-wrapper {
        font-size: 14px;
        margin-top: 110px;
    }
</style>
<div class="body_wrapper">
    <partial name="HappySmile/FrontEnd/_Body_UserProfileCustomer" />
</div>
