@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="body_wrapper">
    
    <partial name="HappySmile/FrontEnd/_Body_Booking_Detail_For_User" />
</div>
<script>
    var getCookies = function () {
        var pairs = document.cookie.split(";");
        var cookies = {};
        for (var i = 0; i < pairs.length; i++) {
            var pair = pairs[i].split("=");
            cookies[(pair[0] + '').trim()] = unescape(pair.slice(1).join('='));
        }
        return cookies;
    }
    var myCookies = getCookies();
    localStorage.setItem("token", myCookies.Authorization);
</script>
<script src="~/happys/js/page/bookingDetailForUser.js" asp-append-version="true"></script>