<div class="container-xl">
    <div class="row m-0 home_list">
        <div class="col-xl-9 col-lg-9 col-sm-12 mr_list_product">
            <div id="list_product" class="">
                <div class="row p-0" id="lst_product">
                    <div class="item_product">
                        <div class="item_box">
                            <div class="img_product">
                                <img src="~/HomeDoctor/img/list-product/img-product.png" />
                            </div>
                            <div class="infor_product">
                                <p class="name_product">Thực phẩm chức năng Zero Acnes</p>
                                <p class="price_product"><span>150.000</span> đ</p>
                                <p class="des_product">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <div class="hover_product">
                                <div class="hover_box">
                                    <button class="btn_homeD2">Thêm giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_product ">
                        <div class="item_box">
                            <div class="img_product">
                                <img src="~/HomeDoctor/img/list-product/img-product.png" />
                            </div>
                            <div class="infor_product">
                                <p class="name_product">Thực phẩm chức năng Zero Acnes</p>
                                <p class="price_product"><span>150.000</span> đ</p>
                                <p class="des_product">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <div class="hover_product">
                                <div class="hover_box">
                                    <button class="btn_homeD2">Thêm giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_product ">
                        <div class="item_box">
                            <div class="img_product">
                                <img src="~/HomeDoctor/img/list-product/img-product.png" />
                            </div>
                            <div class="infor_product">
                                <p class="name_product">Thực phẩm chức năng Zero Acnes</p>
                                <p class="price_product"><span>150.000</span> đ</p>
                                <p class="des_product">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <div class="hover_product">
                                <div class="hover_box">
                                    <button class="btn_homeD2">Thêm giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_product ">
                        <div class="item_box">
                            <div class="img_product">
                                <img src="~/HomeDoctor/img/list-product/img-product.png" />
                            </div>
                            <div class="infor_product">
                                <p class="name_product">Thực phẩm chức năng Zero Acnes</p>
                                <p class="price_product"><span>150.000</span> đ</p>
                                <p class="des_product">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <div class="hover_product">
                                <div class="hover_box">
                                    <button class="btn_homeD2">Thêm giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_product ">
                        <div class="item_box">
                            <div class="img_product">
                                <img src="~/HomeDoctor/img/list-product/img-product.png" />
                            </div>
                            <div class="infor_product">
                                <p class="name_product">Thực phẩm chức năng Zero Acnes</p>
                                <p class="price_product"><span>150.000</span> đ</p>
                                <p class="des_product">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <div class="hover_product">
                                <div class="hover_box">
                                    <button class="btn_homeD2">Thêm giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_product ">
                        <div class="item_box">
                            <div class="img_product">
                                <img src="~/HomeDoctor/img/list-product/img-product.png" />
                            </div>
                            <div class="infor_product">
                                <p class="name_product">Thực phẩm chức năng Zero Acnes</p>
                                <p class="price_product"><span>150.000</span> đ</p>
                                <p class="des_product">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <div class="hover_product">
                                <div class="hover_box">
                                    <button class="btn_homeD2">Thêm giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_product ">
                        <div class="item_box">
                            <div class="img_product">
                                <img src="~/HomeDoctor/img/list-product/img-product.png" />
                            </div>
                            <div class="infor_product">
                                <p class="name_product">Thực phẩm chức năng Zero Acnes</p>
                                <p class="price_product"><span>150.000</span> đ</p>
                                <p class="des_product">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <div class="hover_product">
                                <div class="hover_box">
                                    <button class="btn_homeD2">Thêm giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_product ">
                        <div class="item_box">
                            <div class="img_product">
                                <img src="~/HomeDoctor/img/list-product/img-product.png" />
                            </div>
                            <div class="infor_product">
                                <p class="name_product">Thực phẩm chức năng Zero Acnes</p>
                                <p class="price_product"><span>150.000</span> đ</p>
                                <p class="des_product">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <div class="hover_product">
                                <div class="hover_box">
                                    <button class="btn_homeD2">Thêm giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item_product ">
                        <div class="item_box">
                            <div class="img_product">
                                <img src="~/HomeDoctor/img/list-product/img-product.png" />
                            </div>
                            <div class="infor_product">
                                <p class="name_product">Thực phẩm chức năng Zero Acnes</p>
                                <p class="price_product"><span>150.000</span> đ</p>
                                <p class="des_product">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <div class="hover_product">
                                <div class="hover_box">
                                    <button class="btn_homeD2">Thêm giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <nav class="mt-32px mb-32px" aria-label="Posts list pagination">
                    <ul class="pagination pxp-pagination" id="pagination-post">
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-12 d-flex flex-column side_bar">
            <div class="search_product">
                <input type="text" placeholder="Tìm kiếm sản phẩm" id="search_product_page"/>
                <button type="submit" class="btn_search" onclick="searchButton()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M7.29264 1.2876C3.98683 1.2876 1.29395 3.98048 1.29395 7.28631C1.29395 10.5921 3.98683 13.2902 7.29264 13.2902C8.70466 13.2902 10.0033 12.7954 11.0296 11.9738L13.5283 14.4712C13.6544 14.5921 13.8228 14.6588 13.9975 14.657C14.1722 14.6552 14.3392 14.5851 14.4628 14.4617C14.5864 14.3382 14.6567 14.1713 14.6588 13.9967C14.6608 13.822 14.5943 13.6535 14.4736 13.5272L11.9749 11.0285C12.7972 10.0006 13.2926 8.69995 13.2926 7.28631C13.2926 3.98048 10.5985 1.2876 7.29264 1.2876ZM7.29264 2.62095C9.87787 2.62095 11.958 4.70108 11.958 7.28631C11.958 9.87153 9.87787 11.9569 7.29264 11.9569C4.70742 11.9569 2.62728 9.87153 2.62728 7.28631C2.62728 4.70108 4.70742 2.62095 7.29264 2.62095Z" fill="white" />
                    </svg>
                </button>
            </div>
            <p class="head_category">Phân loại</p>
            <div class="list_category">
                <ul id="list_cate">
                    <li><input type="checkbox" />Thương hiệu 1</li>
                    <li><input type="checkbox" />Thương hiệu 1</li>
                    <li><input type="checkbox" />Thương hiệu 1</li>
                    <li><input type="checkbox" />Thương hiệu 1</li>
                    <li><input type="checkbox" />Thương hiệu 1</li>
                    <li><input type="checkbox" />Thương hiệu 1</li>
                    <li><input type="checkbox" />Thương hiệu 1</li>
                </ul>
                @* <p class="more_category">Xem thêm</p> *@
            </div>
            <div class="select_category" data-toggle="modal" data-target="#exampleModal">
                <p>Phân loại</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.195181 0.822652C0.502431 0.428928 1.06285 0.365092 1.44691 0.680072L6.82762 5.09293L12.2083 0.680072C12.5924 0.365092 13.1528 0.428928 13.4601 0.822652C13.7673 1.21638 13.705 1.79089 13.321 2.10587L7.38395 6.97498C7.0587 7.24173 6.59654 7.24173 6.2713 6.97498L0.334262 2.10587C-0.0498 1.79089 -0.112069 1.21638 0.195181 0.822652Z" fill="#333333" />
                </svg>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-white">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                <g clip-path="url(#clip0_1010_8508)">
                                    <path d="M6.35938 5L9.71875 1.64063C10.0957 1.26563 10.0957 0.658205 9.72266 0.281252C9.34766 -0.0957012 8.74023 -0.0957012 8.36328 0.277346L8.36133 0.279299L5.00195 3.63867L1.64062 0.281252C1.26562 -0.0937481 0.65625 -0.0937481 0.28125 0.281252C-0.09375 0.656252 -0.09375 1.26563 0.28125 1.64063L3.64062 5L0.28125 8.35938C-0.09375 8.73438 -0.09375 9.34375 0.28125 9.71875C0.65625 10.0938 1.26562 10.0938 1.64062 9.71875L5 6.35938L8.35938 9.71875C8.73438 10.0938 9.34375 10.0938 9.71875 9.71875C10.0938 9.34375 10.0938 8.73438 9.71875 8.35938L6.35938 5Z" fill="black" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_1010_8508">
                                        <rect width="10" height="10" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                        <h5 class="modal-title" id="exampleModalLabel">Phân loại</h5>
                    </div>
                    <div class="modal-body">
                        <ul id="list_cate_modal">
                            <li><input type="checkbox" class="list_category_modal" />Thương hiệu 1</li>
                            <li><input type="checkbox" />Thương hiệu 1</li>
                            <li><input type="checkbox" />Thương hiệu 1</li>
                            <li><input type="checkbox" />Thương hiệu 1</li>
                            <li><input type="checkbox" />Thương hiệu 1</li>
                            <li><input type="checkbox" />Thương hiệu 1</li>
                            <li><input type="checkbox" />Thương hiệu 1</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button " class="btn btn_cancel" data-dismiss="modal" id="btn_distroy">Hủy lọc</button>
                        <button type="button " class="btn btn_apply" id="btn_apply">Áp dụng</button>
                    </div>
                </div>
            </div>
       </div>
    </div>

</div>
