@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<section class="doc_features_area">
    @* <img class="doc_features_shap" src="happys/img/new/shap_white.png" alt=""> *@
    <div class="container homepage-service">
        <a href="/danh-sach-phong-kham" class="homepage-service-cilinic">
            <img src="/homedoctor/img/homepage/clinic.png" />
            <h2>Phòng khám</h2>
            <div class="d-flex justify-content-between align-items-center">
                <span>
                    Xem thông tin
                </span>
                <div class="arrow-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12"><path d="M6.22 3.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L9.94 8 6.22 4.28a.75.75 0 0 1 0-1.06Z"></path></svg>
                </div>
            </div>
        </a>

        <a href="/danh-sach-dich-vu" class="homepage-service-booking">
            <img src="/homedoctor/img/homepage/booking.png" />
            <h2>Đặt dịch vụ</h2>
            <div class="d-flex justify-content-between align-items-center">
                <span>
                    Xem thông tin
                </span>
                <div class="arrow-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12"><path d="M6.22 3.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L9.94 8 6.22 4.28a.75.75 0 0 1 0-1.06Z"></path></svg>
                </div>
            </div>
        </a>

        <a href="/danh-sach-bac-si" class="homepage-service-doctor">
            <img src="/homedoctor/img/homepage/doctor.png" />
            <h2>Bác sĩ</h2>
            <div class="d-flex justify-content-between align-items-center">
                <span>
                    Xem thông tin
                </span>
                <div class="arrow-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12"><path d="M6.22 3.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L9.94 8 6.22 4.28a.75.75 0 0 1 0-1.06Z"></path></svg>
                </div>
            </div>
        </a>

        <a href="/danh-sach-san-pham" class="homepage-service-product">
            <img src="/homedoctor/img/homepage/product.png" />
            <h2>Sản phẩm</h2>
            <div class="d-flex justify-content-between align-items-center">
                <span>
                    Xem thông tin
                </span>
                <div class="arrow-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="12" height="12"><path d="M6.22 3.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L9.94 8 6.22 4.28a.75.75 0 0 1 0-1.06Z"></path></svg>
                </div>
            </div>
        </a>
    </div>
</section>
<section class="recommended_topic_area">
    <div class="container">
@*         <div class="recommended_topic_inner">
            <img class="doc_shap_one" src="happys/svg/shape.svg" alt="">
        </div> *@
        <div class="row aboutus-component">
            <div class="col-lg-6 col-12">
                <div class="about_me wow fadeInUp" data-wow-delay="0.2s">
                    <img src="/homedoctor/img/homepage/aboutus.png" />
                </div>
            </div>
            <div class="detail-about-me col-lg-6 col-12">
                <a href="/ve-chung-toi">
                    <h3>Giới thiệu</h3>
                </a>
                <p class="text-justify">
                    Chào mừng bạn đến với "Bác sĩ tại nhà" – nền tảng chăm sóc sức khỏe không chỉ tại bênh viện mà bạn còn có thể chăm sóc sức khỏe tại nhà hàng đầu! Chúng tôi tự hào là điểm đến đáng tin cậy cho những người đang tìm kiếm dịch vụ y tế chất lượng, thuận tiện và chăm sóc tận tâm ngay tại chính ngôi nhà của họ.

                    Tại Bác sĩ tại nhà, chúng tôi cam kết mang lại trải nghiệm y tế đẳng cấp với đội ngũ bác sĩ, y tá và chuyên gia y tế hàng đầu. Dịch vụ của chúng tôi bao gồm đánh giá sức khỏe tổng quan, điều trị cơ bản, cũng như quản lý và theo dõi các bệnh lý tại nhà không thua kém gì ở bệnh viện, giúp bệnh nhân tiết kiệm thời gian và công sức.
                </p>
                <a href="/ve-chung-toi" class="detail btnHS2" style="color:white">Liên hệ với chúng tôi</a>
            </div>
        </div>
    </div>
</section>
<section class="doc_community_area">
    <div class="fluid-container">
        <div class="doc_title text-center">
            <h2 class="forum-title wow fadeInUp" data-wow-delay="0.2s">Dịch vụ</h2>
        </div>
        <div class="container">
            <div class="doc_community_info">
                <div class="product-item first border border-white">
                    <div class="product-content">
                        <span class="title-product" id="name-service">
                            Khám tổng quát
                        </span>
                        <span class="product-text">
                            Giá chỉ từ
                        </span>
                        <span class="product-price">
                            700.000 đ
                        </span>
                    </div>
                    <div class="icon-service"></div>
                </div>

                <div class="product-item border border-white">
                    <div class="product-content">
                        <span class="title-product">
                            Khám nhi
                        </span>
                        <span class="product-text">
                            Giá chỉ từ
                        </span>
                        <span class="product-price">
                            700.000 đ
                        </span>
                    </div>
                    <div class="icon-service"></div>
                </div>

                <div class="product-item first border border-white">
                    <div class="product-content">
                        <span class="title-product">
                            Điều dưỡng tại nhà
                        </span>
                        <span class="product-text">
                            Giá chỉ từ
                        </span>
                        <span class="product-price">
                            700.000 đ
                        </span>
                    </div>
                    <div class="icon-service"></div>
                </div>

                <div class="product-item border border-white">
                    <div class="product-content">
                        <span class="title-product">
                            Khám nhi
                        </span>
                        <span class="product-text">
                            Giá chỉ từ
                        </span>
                        <span class="product-price">
                            700.000 đ
                        </span>
                    </div>
                    <div class="icon-service"></div>
                </div>
            </div>
        </div>
        <a href="/danh-sach-dich-vu" class="btn btnHS2" style="margin-top: 32px;">
           Xem thêm
        </a>
    </div>

    <div class="doc_psychologist_area">
        <div class="container">
            <div class="doc_psychologist_inner">
                <div class="psychologist-header">
                    BÁC SĨ NỔI BẬT
                </div>
                <div class="psychologist-body counserlors">
                    <div class="psychologist-detail shadow-sm wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div>
                            <img src="/homedoctor/img/homepage/image-doctor.svg" />
                        </div>
                        <div class="psychologist-detail-content">

                            <div class="psychologist">
                                <div class="psychologist-name">
                                    Trung Tran
                                </div>
                            </div>
                            <label class="psychologist-hospital psychologist-width">
                                Đa khoa
                            </label>
                            <div class="psychologist-overview">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                        </div>
                    </div>
                    <div class="psychologist-detail shadow-sm wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <img src="/homedoctor/img/homepage/image-doctor.svg" />
                        <div class="psychologist-detail-content">

                            <div class="psychologist">
                                <div class="psychologist-name">
                                    Trung Tran
                                </div>
                            </div>
                            <label class="psychologist-hospital psychologist-width">
                                Đa khoa
                            </label>
                            <div class="psychologist-overview">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                        </div>
                    </div>
                    <div class="psychologist-detail shadow-sm wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <img src="/homedoctor/img/homepage/image-doctor.svg" />
                        <div class="psychologist-detail-content">

                            <div class="psychologist">
                                <div class="psychologist-name">
                                    Trung Tran
                                </div>
                            </div>
                            <label class="psychologist-hospital psychologist-width">
                                Đa khoa
                            </label>
                            <div class="psychologist-overview">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                        </div>
                    </div>

                </div>
                <a href="/danh-sach-bac-si" class="btn btnHS2">Xem tất cả</a>
            </div>
        </div>
    </div>
</section>
<section class="doc_featured_news_area">
    <div class="container">
        <div class="doc_featured_news_inner">
            <div class="featured-news-title">
                Tin tức nổi bật
            </div>

            <div class="featured-news-detail">
@*                 <div class="featured-news-first shadow-sm wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="photo-post">
                        <img src="/homedoctor/img/homepage/image-new.svg" />
                    </div>
                    <div class="featured-news-body">
                        <div class="post_name" href="/#">
                            Mother telling a story to two little daughter in the home
                        </div>
                        <a class="post-overview">
                            Abuse is always wrong and it can be very difficult to talk about
                        </a>
                        <div class="media post_author">
                            <div class="post-publish-time">15/11/2023 - 7:36</div>
                        </div>
                    </div>
                    
                </div> *@
            </div>

        </div>
    </div>

</section>

