@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link rel="stylesheet" href="/happys/css/signup/signup.css">
<style>
    .fwp_inner {
        justify-content: space-between;
        height: auto;
        align-items: center;
    }

    .fwp_container {
        padding: 20px 32px;
        width: 100%;
    }

    .gap-16px {
        gap: 16px;
    }

    .sign_footer a {
        color: var(--Blue-sky, #1470F5);
        font-family: Lexend;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
    }

    .form-group-container {
        border-radius: 14px;
        background: var(--Background-xam, #F7F7F9);
        height: 50px;
        border: unset;
        padding: 0;
        align-items: center;
    }

    .register_form .form-group .fw_forget_btn {
        position: relative;
        padding: 0px 20px 0px 0px;
    }

    .fw_forget_btn a {
        white-space: nowrap;
    }

    .login_form .form-group .form-control:focus, .form-control:focus {
        box-shadow: unset !important;
    }

    .form-group-container:focus-within {
        box-shadow: 0 4px 18px 0 rgba(4, 73, 89, 0.1);
    }

    .form-group-container.invalid {
        border: 1px solid #ffdddd !important;
    }

    input.invalid {
        border: unset !important;
    }

    .sign_footer {
        margin: 32px;
    }

    .disabled-input {
        pointer-events: none;
    }

    .tab {
        display: block
    }
</style>
<div class="body_wrapper">
    <section class="signup_area">
        <div class="sign_right signup_right w-100 over-flow-auto">
            <div class="sign_inner fwp_inner">
                <div class="fwp_container">
                    <form id="forgot_pass_word_form" class="register_form">
                        <div class="text-center w-100 sign-top">
                            <h3>Đổi mật khẩu</h3>
                        </div>
                        <div class="tab">
                            <div class="row">
                                <div class="col-lg-12 form-group  m-0">
                                    <div class="small_text">Mật khẩu cũ</div>
                                    <div class="form-group d-flex flex-row position-relative">
                                        <input id="old-password" name="Mật khẩu" placeholder="Nhập mật khẩu cũ" type="password" class="form-control" autocomplete="off">
                                        <div class="forget_btn">
                                            <i class="bi bi-eye-slash" id="toggle_old_password"></i>
                                        </div>
                                        <label class="invalid_text"></label>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group  m-0">
                                    <div class="small_text">Mật khẩu mới</div>
                                    <div class="form-group d-flex flex-row position-relative">
                                        <input id="fw-password" name="Mật khẩu" placeholder="Nhập mật khẩu" type="password" class="form-control" autocomplete="off">
                                        <div class="forget_btn">
                                            <i class="bi bi-eye-slash" id="toggle_password"></i>
                                        </div>
                                        <label class="invalid_text"></label>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group  m-0">
                                    <div class="small_text">Xác nhận mật khẩu</div>
                                    <div class="form-group d-flex flex-row position-relative">
                                        <input id="confirm-password" name="Xác nhận mật khẩu" placeholder="Nhập lại mật khẩu" type="password" class="form-control" autocomplete="off">
                                        <div class="forget_btn">
                                            <i class="bi bi-eye-slash" id="toggle_confirm_password"></i>
                                        </div>
                                        <label class="invalid_text"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btnHS2" onclick="validate()" id="nextBtn">Hoàn thành</button>
                        </div>
                    </form>
                </div>
                <div class="sign_footer">
                    <a class="d-flex flex-row align-items-center justify-content-center gap-16px" href="/"><img src="/happys/svg/back-home.svg" />Về trang chủ</a>
                </div>
            </div>
        </div>
    </section>
</div>