@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<style>
    @@media screen and (max-width: 768px){
        .banner_creative1 {
            display: none !important;
        }

        .about-us{
            margin-top: 0;
        }
    }
</style>
<section class="about-us">
    <div class="container">
        <div class="box-about">
            <div class="box-header">
                <div class="box-image">
                    <img src="/homedoctor/img/aboutus/image.svg" />
                </div>
                <div class="header-content">
                    <span class="box-header-title">
                        Về chúng tôi
                    </span>
                    <span class="box-header-body text-justify">
                        Chào mừng bạn đến với "Bác sĩ tại nhà" – nền tảng chăm sóc sức khỏe không chỉ tại bệnh viện mà bạn còn có thể chăm sóc sức khỏe tại nhà hàng đầu! Chúng tôi tự hào là điểm đến đáng tin cậy cho những người đang tìm kiếm dịch vụ y tế chất lượng, thuận tiện và chăm sóc tận tâm ngay tại chính ngôi nhà của họ.
                    </span>
                    <span class="box-header-body text-justify">
                        Tại Bác sĩ tại nhà, chúng tôi cam kết mang lại trải nghiệm y tế đẳng cấp với đội ngũ bác sĩ, y tá và chuyên gia y tế hàng đầu. Dịch vụ của chúng tôi bao gồm đánh giá sức khỏe tổng quan, điều trị cơ bản, cũng như quản lý và theo dõi các bệnh lý tại nhà không thua kém gì ở bệnh viện, giúp bệnh nhân tiết kiệm thời gian và công sức.
                    </span>
                </div>
            </div>
            <div class="box-footer">
                <span>
                    Với giao diện thân thiện và dễ sử dụng, bạn có thể dễ dàng đặt lịch hẹn trực tuyến hoặc trực tiếp và chọn lựa bác sĩ phù hợp với nhu cầu của mình. Chúng tôi hỗ trợ nhiều loại dịch vụ y tế, từ khám sức khỏe định kỳ đến các dịch vụ chăm sóc đặc biệt, giúp đáp ứng mọi nhu cầu y tế của bạn.
                </span>
                <span>
                    Không chỉ giúp bệnh nhân thuận lợi hơn trong quá trình chăm sóc sức khỏe, Bác sĩ tại nhà còn đặt mục tiêu nâng cao chất lượng cuộc sống và tạo ra sự an tâm cho cộng đồng. Hãy để chúng tôi chăm sóc bạn và gia đình của bạn, mang lại sức khỏe và hạnh phúc trong mỗi giai đoạn cuộc sống.
                </span>
            </div>
        </div>
    </div>
</section>