@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<style>
    .menu > .nav-item > .nav-link {
        font-size: 16px !important;
    }
</style>
<link href="~/homedoctor/css/header-homepage/header-homepage.css" rel="stylesheet" asp-append-version="true" />
<div class="header-top">
    <div class="container header-top-content">
        <div class="header-top-item">
            <div class="header-top-flex-content">
                <img src="/homedoctor/img/header/phone-call.svg" />
                <span>034 958 1894</span>
            </div>
            <div class="header-top-flex-content">
                <img src="/homedoctor/img/header/email.svg" />
                <span>hung.nguyen@dion.vn</span>
            </div>
        </div>

        <div class="header-top-item">
            <a href="#">Hướng Dẫn Vận Chuyển</a>
            <a href="/chinh-sach-bao-mat">Điều Khoản Chính Sách</a>
        </div>
    </div>
</div>