@{
    Layout = null;
}
<link href="~/HomeDoctor/css/consulting-history/consulting-history.css" rel="stylesheet" asp-append-version="true" />
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Header" />
    <partial name="HomeDoctor/FrontEnd/_Link_Tag" />
    <partial name="HomeDoctor/FrontEnd/_Body_ConsultingHistory" />
    <partial name="HomeDoctor/FrontEnd/_Footer" />
</div>
<script src="~/HomeDoctor/js/page/consulting-history/consulting-history.js" asp-append-version="true"></script>