@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Header" />
    <partial name="HomeDoctor/FrontEnd/_Body_Medical_Info" />
    <partial name="HomeDoctor/FrontEnd/_Footer" />
</div>
@* <script>
    var id = "@ViewBag.id"
</script> *@
<script src="~/homedoctor/js/page/userprofiles/medical_profiles.js"></script>