@{
    Layout = null;
}
<link href="~/homedoctor/css/page/list-clinic/list-clinic.css" rel="stylesheet" asp-append-version="true" />
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Header" />
    <partial name="HomeDoctor/FrontEnd/_Banner-User" /> 
    <partial name="HomeDoctor/FrontEnd/_Body_ListClinic" />
    <partial name="HomeDoctor/FrontEnd/_Footer" /> 
</div>
<script src="~/HomeDoctor/js/page/list-clinic/list-clinic.js" asp-append-version="true"></script>