@{
    Layout = null;
}
@* <link href="/homedoctor/css/homepage/homepage.css" rel="stylesheet" asp-append-version="true" /> *@
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Header" />
    <partial name="HomeDoctor/FrontEnd/_Link_Tag" />
    <partial name="HomeDoctor/FrontEnd/_Banner_Test" />
    <partial name="HomeDoctor/FrontEnd/_Body_Test" />
    <partial name="HomeDoctor/FrontEnd/_Footer" />
</div>
@* <script src="/homedoctor/js/page/homepage/homepage.js" asp-append-version="true"></script> *@
