@{
    Layout = null;
}

@*<script src="/LVT/assets/js/javascript-image-zoom-on-click/js/zooming.min.js"></script>*@
@*Quoc lam*@
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Header" />
    @* <partial name="HomeDoctor/FrontEnd/_Banner" /> *@
    <partial name="HomeDoctor/FrontEnd/_Body_DetailClinic" />
    <partial name="HomeDoctor/FrontEnd/_Booking_Process" />
    <partial name="HomeDoctor/FrontEnd/_Footer" /> 
</div>
<script src="~/HomeDoctor/js/page/detail-clinic/detail-clinic.js" asp-append-version="true"></script>