@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<link href="~/homedoctor/css/page/bookingdetail/bookingdetail.css" rel="stylesheet" asp-append-version="true" />
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Header" />
    <partial name="HomeDoctor/FrontEnd/_Link_Tag" />
    <partial name="HomeDoctor/FrontEnd/_Body_BookingDetail" />
    <partial name="HomeDoctor/FrontEnd/_Footer" />
</div>
<script src="~/homedoctor/js/page/booking-detail/booking-detail.js" asp-append-version="true"></script>

