@* <link href="~/HomeDoctor/css/order-history/order-history.css" rel="stylesheet" asp-append-version="true" /> *@
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Header" />
    <partial name="HomeDoctor/FrontEnd/_Link_Tag" />
    <partial name="HomeDoctor/FrontEnd/_Body_ListTest" />
    @* <partial name="HomeDoctor/FrontEnd/_Body_OrderHistory" /> *@
    <partial name="HomeDoctor/FrontEnd/_Footer" />
</div>
@* <script src="~/HomeDoctor/js/page/order-history/order-history.js" asp-append-version="true"></script> *@