@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<style>
    .body_wrapper {
        background-image: url('/happys/img/survey/bg_detail_survey.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<partial name="HomeDoctor/FrontEnd/_Header" />
<partial name="HomeDoctor/FrontEnd/_Banner_Forum_Breadcumb" />
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Body_NotFound404" />
    <partial name="HomeDoctor/FrontEnd/_Footer" />
</div>
