@{
    Layout = null;
}
<link href="~/HomeDoctor/css/list-post/list-post.css" rel="stylesheet" asp-append-version="true" />
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Header" />
    <partial name="HomeDoctor/FrontEnd/_Banner-User" />
    <partial name="HomeDoctor/FrontEnd/_Body_ListPost" />
    <partial name="HomeDoctor/FrontEnd/_Footer" />
</div>
<script src="~/HomeDoctor/js/page/list-post/list-post.js" asp-append-version="true"></script>