@{
    Layout = null;
}
<link href="~/HomeDoctor/css/list-product/list-product.css" rel="stylesheet" asp-append-version="true" />
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Header" />
    <partial name="HomeDoctor/FrontEnd/_Link_Tag" />
    <partial name="HomeDoctor/FrontEnd/_Body_ListProduct" />
    <partial name="HomeDoctor/FrontEnd/_Footer" />
</div>
<script src="~/HomeDoctor/js/page/list-product/list-product.js" asp-append-version="true"></script>
