@{
    Layout = null;
}

<link href="~/HomeDoctor/css/list-doctor/list-doctor.css" rel="stylesheet" asp-append-version="true" />
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Header" />
    <partial name="HomeDoctor/FrontEnd/_Link_Tag" />
    <partial name="HomeDoctor/FrontEnd/_Body_ListDoctor" />
    <partial name="HomeDoctor/FrontEnd/_Booking_Process" />
    <partial name="HomeDoctor/FrontEnd/_Footer" />
</div>
<script src="~/HomeDoctor/js/page/list-doctor/list-doctor.js" asp-append-version="true"></script>