<link href="~/homedoctor/css/listservice/listservice.css" rel="stylesheet" asp-append-version="true" />
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Header" />
    <partial name="HomeDoctor/FrontEnd/_Banner-User" />
    <partial name="HomeDoctor/FrontEnd/_Body_ListService" />
    <partial name="HomeDoctor/FrontEnd/_Booking_Process" />
    <partial name="HomeDoctor/FrontEnd/_Footer" />
</div>