@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<style>
    .container{
        margin-top: 130px
    }
    .menu_one {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }
</style>
<div class="body_wrapper">
    <partial name="HomeDoctor/FrontEnd/_Body_DetailPost"/>
</div>
<script>
    const postId = @ViewBag.Id;
</script>
<script src="~/homedoctor/js/page/post-detail/post-detail.js" asp-append-version="true"></script>
