.img-thumb {
    width: 83.333px;
    height: 60px;
    border-radius: 10px;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
    object-fit:cover;
}
.mode-register-gallery .nav-item:first-child,
.mode-register-gallery .nav-item:first-child img {
    width: 100%;
    height: 100%;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
    animation-name: fadeInDown;
    max-height: 504px;
    object-fit: cover;
}
.gap-16px {
    gap: 16px !important;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

.line-mini {
    width: 20px;
    height: 2px;
    background-color: var(--Main-color-1, #FFC800)
}

.product-info-price {
    color: var(--Main-color-2, #007983);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.product-info-price-line-through {
    color: var(--Place, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: line-through;
}
.btn-home {
    display: inline-flex;
    padding: 11px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buy-now {
    border-radius: 35px;
    border: 1px solid #FFF;
    background: var(--Main-color-2, #007983);
    box-shadow: 0px 4px 40px 0px rgba(255, 200, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.add-to-cart {
    border-radius: 35px;
    border: 1px solid #FFF;
    background: var(--Main-color-1, #FFC800);
    box-shadow: 0px 4px 40px 0px rgba(255, 200, 0, 0.25);
    color: var(--Black, #000);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-info-description {
    color: var(--Black, #000);
    text-align: justify;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.product-info-text {
    color: var(--Black, #000);
    text-align: justify;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.background-product-info {
    background-image: url('/HomeDoctor/img/page/BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 120px 0px;
}
.product-info-description-center {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product-info-description-text {
    color: #FFF;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
.item-product {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    height: 345px;
}
.item-name {
    color: var(--Black, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.item-price {
    color: var(--Main-color-2, #007983);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.item-description {
    color: var(--Black, #000);
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    min-height: 60px;
}
.item-body {
    padding: 16px 16px 32px 16px;
}

.item-hover {
    padding: 0px 9px;
    opacity: 0;
    position: absolute;
    bottom: 9px;
    width: 100%;
}
.hover_box {
    border-radius: 10px;
    background-color: #D9EBED;
    display: flex;
    gap: 8px;
    padding: 11px 14px 11px 14px;
    width: 100%;
}
.btn_call {
    border-radius: 35px;
    border: 1px solid #FFF;
    background: var(--Main-color-2, #007983);
    box-shadow: 0px 4px 40px 0px rgba(255, 200, 0, 0.25);
    padding: 10px 20px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}
.btn-view-more {
    display: inline-flex;
    height: 54px;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 37px;
    background: #007983;
    box-shadow: 0px 4px 20px 0px rgba(0, 121, 131, 0.20);
    outline: none;
    border: none;
    color: white;
}
.btn_booking {
    border-radius: 35px;
    border: 1px solid #FFF;
    background: var(--Main-color-1, #FFC800);
    box-shadow: 0px 4px 40px 0px rgba(255, 200, 0, 0.25);
    padding: 10px 20px;
    text-align: center;
    color: var(--Black, #000);
}
.item-product:hover > .item-hover {
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out;
}
.item-product:not(:hover) > .item-hover {
    opacity: 0;
    animation: fadeOut 0.5s ease-in-out;
}
.item-photo img {
    width: 100%;
}

.product-info .item-photo img {
    width: 100%;
    min-height: 191px;
    height: 100%;
    max-height: 191px;
    object-fit: cover;
    border-radius: 10px;
}

.gap-8 {
    gap: 8px !important;
}
.gap-16 {
    gap: 16px !important;
}
.gap-32 {
    gap: 32px !important;
}
.mt-64 {
    margin-top: 64px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-60 {
    margin-bottom: 60px !important;
}
.py-30 {
    padding: 30px 0px !important;
}
.py-60 {
    padding: 60px 0px !important;
}
.p-16 {
    padding: 16px;
}
@media (max-width:600px) {
    .mt-xs-16 {
        margin-top: 16px;
    }
    .gap-xs-10 {
        gap: 10px !important;
    }
    .col-xs-6 {
        width: 50%;
        padding: 0;
    }
    .product-info-button {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .btn-home {
        padding: 14px 26px;
    }
    .item-body {
        padding: 19px 7px 27px 5px;
    }
    .item:nth-child(3), .item:nth-child(4) {
        display: none;
    }
    .list-product-brand .row {
        padding: 16px !important;
    }
    .list-product-brand .list-inner {
        gap: 16px;
    }
    .item-description {
        display: none;
    }
    .item-hover {
        position: absolute;
        opacity: 1 !important;
    }
    .item-name {
        font-size: 14px;
    }
    .item-price {
        font-size: 14px;
    }
    .hover_box {
        padding: 0;
        background: unset;
    }
    .btn-home {
        font-size: 14px;
    }
    .background-product-info {
        background-image: url('/HomeDoctor/img/page/BG-res-xs.png');
        background-size: 100% 100%;
        padding: 60px 0px;
    }
    .product-info .item-photo img {
        min-height: 131px;
        max-height: 131px;
        object-fit: cover;
        border-radius: 10px;
    }
    .mode-register-gallery .nav-item:first-child,
    .mode-register-gallery .nav-item:first-child img {
        max-height: 285.222px;
    }
}
@media (min-width:601px) and (max-width: 991px) {
    .mt-sm-32 {
        margin-top: 32px !important;
    }
    .item:nth-child(4) {
        display: none;
    }
    .product-info .item-photo img {
        min-height: 151px;
    }
}